header:
  version: 14.0.0
init:
  component:
{% for stream_i in range((num_streams | int), 0, -1) %}
    live-tv-stream-{{stream_i}}:
      data: io/github/enzanki-ars/live-tv/watch/{{stream_i}}/proxyurl
      mode: hls-video{% if (stream_i|int) == 1 %}-unmuted{% endif %}
      custom-style: io/github/enzanki-ars/live-tv/css/layer-pos-{{stream_i * 10 + 1}}
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    live-tv-stream-{{stream_i}}-channel:
      data: io/github/enzanki-ars/live-tv/watch/{{stream_i}}/channel_num
      custom-style: io/github/enzanki-ars/live-tv/css/layer-pos-{{stream_i * 10 + 2}}
      style:
        bg: 90-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
    live-tv-stream-{{stream_i}}-title:
      data: io/github/enzanki-ars/live-tv/watch/{{stream_i}}/channel_info/name
      custom-style: io/github/enzanki-ars/live-tv/css/layer-pos-{{stream_i * 10 + 2}}
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
  layer:
{% for stream_i in range((num_streams | int), 0, -1) %}
    live-tv-stream-{{stream_i}}:
      components: live-tv-stream-{{stream_i}}-channel,live-tv-stream-{{stream_i}}-title,live-tv-stream-{{stream_i}}
      aspect: 16x9
{% endfor %}
  data:
    io/github/enzanki-ars/live-tv/css:
{% for stream_i in range(((num_streams | int) + 1) * 10 , 0, -1) %}
      layer-pos-{{stream_i}}: "z-index: {{200 - stream_i}}"
{% endfor %}
  overlay:
    live-tv-stream:
      layers: {% for stream_i in range((num_streams | int), 0, -1) %}live-tv-stream-{{stream_i}},{% endfor %}
scripts:
  full-screen:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 48
          pos-y: 1
          pos-h: 27
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 14
          pos-y: 27
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 14
          pos-w: 35
          pos-y: 27
          pos-h: 1
  full-inset:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 48
          pos-y: 2
          pos-h: {{ (hide_info|int) + 20 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 12
          pos-y: 22
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 13
          pos-w: 36
          pos-y: 22
          pos-h: 1
  half-left:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 24
          pos-y: 2
          pos-h: {{ (hide_info|int) + 19 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 6
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 7
          pos-w: 18
          pos-y: 21
          pos-h: 1
  half-right:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 25
          pos-w: 24
          pos-y: 2
          pos-h: {{ (hide_info|int) + 19 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 25
          pos-w: 6
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 31
          pos-w: 18
          pos-y: 21
          pos-h: 1
  2-3-left:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 32
          pos-y: 2
          pos-h: {{ (hide_info|int) + 19 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 4
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 5
          pos-w: 28
          pos-y: 21
          pos-h: 1
  2-3-right:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 17
          pos-w: 32
          pos-y: 2
          pos-h: {{ (hide_info|int) + 19 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 17
          pos-w: 4
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 21
          pos-w: 28
          pos-y: 21
          pos-h: 1
  1-3-right-top:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 33
          pos-w: 16
          pos-y: 2
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 33
          pos-w: 4
          pos-y: 11
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 37
          pos-w: 12
          pos-y: 11
          pos-h: 1
  1-3-right-bottom:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 33
          pos-w: 16
          pos-y: 12
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 33
          pos-w: 4
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 37
          pos-w: 12
          pos-y: 21
          pos-h: 1
  3-quarter-left:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 36
          pos-y: 2
          pos-h: {{ (hide_info|int) + 19 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 6
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 7
          pos-w: 30
          pos-y: 21
          pos-h: 1
  quarter-top-left:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 24
          pos-y: 2
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 6
          pos-y: 11
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 7
          pos-w: 18
          pos-y: 11
          pos-h: 1
  quarter-top-right:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 25
          pos-w: 24
          pos-y: 2
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 25
          pos-w: 6
          pos-y: 11
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 31
          pos-w: 18
          pos-y: 11
          pos-h: 1
  quarter-bottom-left:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 1
          pos-w: 24
          pos-y: 12
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 1
          pos-w: 6
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 7
          pos-w: 18
          pos-y: 21
          pos-h: 1
  quarter-bottom-right:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: 25
          pos-w: 24
          pos-y: 12
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: 25
          pos-w: 6
          pos-y: 21
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: 31
          pos-w: 18
          pos-y: 21
          pos-h: 1
{% for x in range(1,3) %}
{% for y in range(1,3) %}
  eighth-left-{{ (y-1)+((x*2)-1) }}:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: {{ (x // 2) * 12 + 1}}
          pos-w: 12
          pos-y: {{ (y // 2) * 10 + 2}}
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: {{ (x // 2) * 12 + 1}}
          pos-w: 4
          pos-y: {{ (y // 2) * 10 + 11}}
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: {{ (x // 2) * 12 + 5}}
          pos-w: 8
          pos-y: {{ (y // 2) * 10 + 11}}
          pos-h: 1
  eighth-right-{{ (y-1)+((x*2)-1) }}:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-in
        component/live-tv-stream-{{stream}}/style/display: fade-in
        component/live-tv-stream-{{stream}}-channel/style/display: fade-in
        component/live-tv-stream-{{stream}}-title/style/display: fade-in
        component/live-tv-stream-{{stream}}/style:
          pos-x: {{ (x // 2) * 12 + 25}}
          pos-w: 12
          pos-y: {{ (y // 2) * 10 + 2}}
          pos-h: {{ (hide_info|int) + 9 }}
        component/live-tv-stream-{{stream}}-channel/style:
          pos-x: {{ (x // 2) * 12 + 25}}
          pos-w: 4
          pos-y: {{ (y // 2) * 10 + 11}}
          pos-h: 1
        component/live-tv-stream-{{stream}}-title/style:
          pos-x: {{ (x // 2) * 12 + 29}}
          pos-w: 8
          pos-y: {{ (y // 2) * 10 + 11}}
          pos-h: 1
{% endfor %}
{% endfor %}
  no-display:
    timeline:
    - time_after: 0
      changes:
        layer/live-tv-stream-{{stream}}/display: fade-out
        component/live-tv-stream-{{stream}}/style/display: fade-out
        component/live-tv-stream-{{stream}}-channel/style/display: fade-out
        component/live-tv-stream-{{stream}}-title/style/display: fade-out
  mute:
    timeline:
    - time_after: 0
      changes:
        component/live-tv-stream-{{stream}}/mode: hls-video
  unmute:
    timeline:
    - time_after: 0
      changes:
        component/live-tv-stream-{{stream}}/mode: hls-video-unmuted
