header:
  version: 14.0.0
{% set start = 2 %}
{% set width = 12 %}
{% set classes = {'DPi': {'x': start, 'y': 3, 'c': 6}, 'LMP2': {'x': start, 'y': 10, 'c': 6}, 'GTDPRO': {'x': start, 'y': 17, 'c': 6}, 'GTD': {'x': start + width, 'y': 3, 'c': 14}} %}
init:
  component:
    imsa-tc-flag-state:
      data: com/imsa/tc/session_info/F
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        white-space: normal
        display: show
        pos-x: 2
        pos-w: 3
        pos-y: 2
        pos-h: 1
    imsa-tc-time-remain:
      data: com/imsa/tc/session_info/TR
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: normal
        white-space: normal
        display: show
        pos-x: 5
        pos-w: 4
        pos-y: 2
        pos-h: 1
{% for class,loc in classes.items() %}
    imsa-tc-{{class}}:
      data: com/imsa/tc/race_results/per_class/{{class}}/1/C
      style:
        bg: 10-black
        text-align: center
        text-color: black
        text-size: 1
        text-style: bold
        white-space: normal
        display: show 
        pos-x: {{ loc['x'] + 0 }}
        pos-w: 7
        pos-y: {{ loc['y'] + 0 }}
        pos-h: 1
{% set outerloop = loop %}
{% for pos in range(1, loc['c'] + 1) %}
    imsa-tc-{{class}}-pos-{{pos}}-overall:
      data: com/imsa/tc/race_results/per_class/{{class}}/{{pos}}/A
      style:
        bg: 80-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        white-space: normal
        display: show
        pos-x: {{ loc['x'] + 0 }}
        pos-w: 1
        pos-y: {{ loc['y'] + pos }}
        pos-h: 1
    imsa-tc-{{class}}-pos-{{pos}}-num:
      data: com/imsa/tc/race_results/per_class/{{class}}/{{pos}}/N
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: normal
        white-space: normal
        display: show
        pos-x: {{ loc['x'] + 1 }}
        pos-w: 1
        pos-y: {{ loc['y'] + pos }}
        pos-h: 1
    imsa-tc-{{class}}-pos-{{pos}}-name:
      data: com/imsa/tc/race_results/per_class/{{class}}/{{pos}}/last_name
      style:
        bg: 70-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: normal
        white-space: normal
        display: show
        pos-x: {{ loc['x'] + 2 }}
        pos-w: 5
        pos-y: {{ loc['y'] + pos }}
        pos-h: 1
    imsa-tc-{{class}}-pos-{{pos}}-dic:
      data: com/imsa/tc/race_results/per_class/{{class}}/{{pos}}/DIC
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: normal
        text-font: monospace
        white-space: normal
        display: show
        pos-x: {{ loc['x'] + 7 }}
        pos-w: 4
        pos-y: {{ loc['y'] + pos }}
        pos-h: 1
{% endfor %}
{% endfor %}
  layer:
    imsa-tc-flag:
      components: imsa-tc-flag-state,imsa-tc-time-remain,imsa-tc-dpi
      display: fade-in
      aspect: 16x9
    imsa-tc-leaderboard:
      components: {% for class,loc in classes.items() %}imsa-tc-{{class}},{% for pos in range(1, loc['c']+1) %}imsa-tc-{{class}}-pos-{{pos}}-overall,imsa-tc-{{class}}-pos-{{pos}}-num,imsa-tc-{{class}}-pos-{{pos}}-name,imsa-tc-{{class}}-pos-{{pos}}-dic,{% endfor %}{% endfor %}
      display: fade-in
      aspect: 16x9
  overlay:
    imsa-tc:
      display: show
      aspect: 16x9
      layers: imsa-tc-flag,imsa-tc-leaderboard
