header:
  version: 14.0.0

{%

set selected_races = [
    {
        'id': 8,
        'choices': 2,
        'x': 21,
        'y': 6,
    },
    {
        'id': 9,
        'choices': 2,
        'x': 21,
        'y': 9,
    },
    {
        'id': 11,
        'choices': 2,
        'x': 21,
        'y': 12,
    },
    {
        'id': 12,
        'choices': 2,
        'x': 21,
        'y': 15,
    },
    {
        'id': 14,
        'choices': 2,
        'x': 21,
        'y': 18,
    },
    {
        'id': 15,
        'choices': 2,
        'x': 21,
        'y': 21,
    },
    {
        'id': 16,
        'choices': 2,
        'x': 21,
        'y': 24,
    },
]

%}

init:
  component:
{% for race in selected_races %}
    franklin-county-vote-race{{race['id']}}-title:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/name
      style:
        bg: 90-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 8
        pos-h: 1
        pos-y: {{ race['y'] }}
        text-color: white
        text-size: "_2-3"
        text-style: bold
{% for choice in range(0, race['choices']) %}
    franklin-county-vote-race{{race['id']}}-choice{{choice}}-name:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/name
      style:
        bg: 80-black
        display: show
        pos-x: {{ race['x'] }}
        pos-w: 5
        pos-h: 1
        pos-y: {{ race['y'] + choice + 1 }}
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: left
    franklin-county-vote-race{{race['id']}}-choice{{choice}}-percent:
      data: gov/frankincounty/vote/current_election_data/{{race['id']}}/choices/{{choice}}/percent
      mode: postfix-percent-sign-round-2
      style:
        bg: 70-black
        display: show
        pos-x: {{ race['x'] + 5 }}
        pos-w: 3
        pos-h: 1
        pos-y: {{ race['y'] + choice + 1 }}
        text-color: white
        text-size: "_2-3"
        text-style: bold
        text-align: right
{% endfor %}
{% endfor %}
  layer:
    franklin-county-vote-layer:
      components: {% for race in selected_races %}franklin-county-vote-race{{race['id']}}-title,{% for choice in range(0, race['choices']) %}franklin-county-vote-race{{race['id']}}-choice{{choice}}-name,franklin-county-vote-race{{race['id']}}-choice{{choice}}-percent,{% endfor %}{% endfor %}
      display: show
      aspect: 16x9
  overlay:
    franklin-county-vote:
      display: show
      aspect: 16x9
      layers: franklin-county-vote-layer
