header:
  version: 14.0.0
{% set player = 'enzanki_ars' %}
init:
  component:
{% for slot in range(0, 9) %}
    mc-inv-slot-icon-{{ '{:02d}'.format(slot) }}-{{player}}:
      data: net/minecraft/players/{{player}}/inventory/{{slot}}/icon
      mode: minecraft-inventory-icon
      style:
        bg: 50-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: {{slot + 3}}
        pos-y: 26
        text-color: white
        text-style: normal
        image-correction: off
    mc-inv-slot-count-{{ '{:02d}'.format(slot) }}-{{player}}:
      custom-style: net/minecraft/style/amount
      data: net/minecraft/players/{{player}}/inventory/{{slot}}/amountText
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: {{slot + 3}}
        pos-y: 26
        text-color: white
        text-style: normal
        text-font: minecraft
{%endfor%}
{% for slot in range(9, 36) %}
    mc-inv-slot-icon-{{ '{:02d}'.format(slot) }}-{{player}}:
      data: net/minecraft/players/{{player}}/inventory/{{slot}}/icon
      mode: minecraft-inventory-icon
      style:
        bg: 40-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: {{slot % 9 + 3}}
        pos-y: {{22 + slot // 9}}
        text-color: white
        text-style: normal
        image-correction: off
    mc-inv-slot-count-{{ '{:02d}'.format(slot) }}-{{player}}:
      custom-style: net/minecraft/style/amount
      data: net/minecraft/players/{{player}}/inventory/{{slot}}/amountText
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: {{slot % 9 + 3}}
        pos-y: {{22 + slot // 9}}
        text-color: white
        text-style: normal
        text-font: minecraft
{%endfor%}
{% for slot in range(36, 40) %}
    mc-inv-slot-icon-{{ '{:02d}'.format(slot) }}-{{player}}:
      data: net/minecraft/players/{{player}}/inventory/{{slot}}/icon
      mode: minecraft-inventory-icon
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 12
        pos-y: {{22 + (40 - slot) }}
        text-color: white
        text-style: normal
        image-correction: off
    mc-inv-slot-empty-{{ '{:02d}'.format(slot) }}-{{player}}:
      data: net/minecraft/empty/{{slot}}
      mode: minecraft-inventory-icon
      style:
        bg: 40-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 12
        pos-y: {{22 + (40 - slot) }}
        text-color: white
        text-style: normal
        image-correction: off
    mc-inv-slot-count-{{ '{:02d}'.format(slot) }}-{{player}}:
      custom-style: net/minecraft/style/amount
      data: net/minecraft/players/{{player}}/inventory/{{slot}}/amountText
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 12
        pos-y: {{22 + (40 - slot) }}
        text-color: white
        text-style: normal
        text-font: minecraft
{%endfor%}
    mc-inv-slot-empty-40-{{player}}:
      data: net/minecraft/empty/40
      mode: minecraft-inventory-icon
      style:
        bg: 40-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 26
        text-color: white
        text-style: normal
        image-correction: off
    mc-inv-slot-icon-40-{{player}}:
      data: net/minecraft/players/{{player}}/inventory/40
      mode: minecraft-inventory-icon
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 26
        text-color: white
        text-style: normal
    mc-inv-slot-count-40-{{player}}:
      custom-style: net/minecraft/style/amount
      data: net/minecraft/players/{{player}}/inventory/40/amountText
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 26
        text-color: white
        text-style: normal
        text-font: minecraft
    mc-status-armor-{{player}}:
      data: net/minecraft/icon/armor
      mode: minecraft-icon
      style:
        bg: 60-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 23 
        text-color: white
        text-style: normal
        image-correction: off
    mc-status-armor-label-{{player}}:
      data: net/minecraft/players/{{player}}/armor
      custom-style: net/minecraft/style/amount
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 23
        text-color: white
        text-style: normal
        text-font: minecraft
    mc-status-food-{{player}}:
      data: net/minecraft/icon/hunger
      mode: minecraft-icon
      style:
        bg: 60-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 25
        text-color: white
        text-style: normal
        image-correction: off
    mc-status-food-label-{{player}}:
      data: net/minecraft/players/{{player}}/food
      custom-style: net/minecraft/style/amount
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 25
        text-color: white
        text-style: normal
        text-font: minecraft
    mc-status-health-{{player}}:
      data: net/minecraft/icon/heart
      mode: minecraft-icon
      style:
        bg: 60-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 24
        text-color: white
        text-style: normal
        image-correction: off
    mc-status-health-label-{{player}}:
      data: net/minecraft/players/{{player}}/health
      custom-style: net/minecraft/style/amount
      mode: raw
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 24
        text-color: white
        text-style: normal
        text-font: minecraft
    mc-effect-icons-{{player}}:
      data: net/minecraft/players/{{player}}/activeEffectOneLine
      mode: minecraft-effect-icons
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 10
        pos-x: 3
        pos-y: 21
        text-color: black
        text-style: normal
        text-align: left
        text-size: _5
        image-correction: off
    mc-player-icon-{{player}}:
      data: net/minecraft/players/{{player}}/profileImageOverlay
      mode: image
      style:
        bg: 70-black
        display: show
        pos-h: 1
        pos-w: 1
        pos-x: 2
        pos-y: 22
        text-color: black
        text-style: normal
        text-align: center
        image-correction: off
    mc-player-name-{{player}}:
      data: net/minecraft/players/{{player}}/playerName
      mode: raw
      style:
        bg: 60-black
        display: show
        pos-h: 1
        pos-w: 10
        pos-x: 3
        pos-y: 22
        text-color: white
        text-style: normal
        text-align: left
        text-font: minecraft

  layer:
    minecraft-inventory-armor-count-{{player}}:
      components: {% for slot in range(36, 40) %}mc-inv-slot-count-{{ '{:02d}'.format(slot) }}-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    minecraft-inventory-armor-{{player}}:
      components: {% for slot in range(36, 40) %}mc-inv-slot-empty-{{ '{:02d}'.format(slot) }}-{{player}},mc-inv-slot-icon-{{ '{:02d}'.format(slot) }}-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    minecraft-inventory-main-count-{{player}}:
      components: {% for slot in range(0, 9) %}mc-inv-slot-count-{{ '{:02d}'.format(slot) }}-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    minecraft-inventory-main-{{player}}:
      components: {% for slot in range(0, 9) %}mc-inv-slot-icon-{{ '{:02d}'.format(slot) }}-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    minecraft-inventory-off-count-{{player}}:
      components: mc-inv-slot-count-40-{{player}}
      display: show
      aspect: 16x9
    minecraft-inventory-off-{{player}}:
      components: mc-inv-slot-empty-40-{{player}},mc-inv-slot-icon-40-{{player}}
      display: show
      aspect: 16x9
    minecraft-inventory-secondary-count-{{player}}:
      components: {% for slot in range(9, 36) %}mc-inv-slot-count-{{ '{:02d}'.format(slot) }}-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    minecraft-inventory-secondary-{{player}}:
      components: {% for slot in range(9, 36) %}mc-inv-slot-icon-{{ '{:02d}'.format(slot) }}-{{player}},{%endfor%}
      display: show
      aspect: 16x9
    minecraft-status-{{player}}:
      components: mc-status-health-{{player}},mc-status-health-label-{{player}},mc-status-armor-{{player}},mc-status-armor-label-{{player}},mc-status-food-{{player}},mc-status-food-label-{{player}}
      display: show
      aspect: 16x9
    minecraft-info-{{player}}:
      components: mc-player-icon-{{player}},mc-player-name-{{player}}
      display: show
      aspect: 16x9
    minecraft-effects-{{player}}:
      components: mc-effect-icons-{{player}},mc-effect-duration-{{player}}
      display: show
      aspect: 16x9
  overlay:
    minecraft-{{player}}:
      display: show
      aspect: 16x9
      layers: minecraft-inventory-main-{{player}},minecraft-inventory-main-count-{{player}},minecraft-inventory-secondary-{{player}},minecraft-inventory-secondary-count-{{player}},minecraft-inventory-off-{{player}},minecraft-inventory-off-count-{{player}},minecraft-inventory-armor-{{player}},minecraft-inventory-armor-count-{{player}},minecraft-status-{{player}},minecraft-info-{{player}},minecraft-effects-{{player}}
