header:
  version: 14.0.0
{% set NUM_SLOTS = 7 %}
{% set WIDTH = 5 %}
{% set START = 3 %}
init:
  component:
    enzanki-ars-home-weather-7day-info-red:
      data: io/github/enzanki-ars/home/weather/info/red
      style:
        bg: dark-red
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 24
        pos-h: _5-top
        border-top-left-radius: 1
        text-align: center
        text-color: white
        text-size: _5-no-pad
        text-style: bold
    enzanki-ars-home-weather-7day-info-blue:
      data: io/github/enzanki-ars/home/weather/info/blue
      style:
        bg: dark-blue
        display: show
        pos-x: 5
        pos-w: 2
        pos-y: 24
        pos-h: _5-top
        border-top-right-radius: 1
        text-align: center
        text-color: white
        text-size: _5-no-pad
        text-style: bold
{% for slot in range(0, NUM_SLOTS) %}
    enzanki-ars-home-weather-7day-day{{slot}}-day:
      data: com/open-metro/forecast/local/daily/time/{{slot}}
      style:
        bg: black
        display: show
        pos-x: {{ START + (WIDTH * slot) + 2 }}
        pos-w: {{ WIDTH - 2 }}
        pos-y: 24
        pos-h: _5-bottom
        border-top-left-radius: 0
        text-align: center
        text-color: white
        text-size: _5-no-pad
        text-style: bold
    enzanki-ars-home-weather-7day-day{{slot}}-text:
      data: com/open-metro/forecast/local/daily/text/{{slot}}
      style:
        bg: 90-black
        display: show
        pos-x: {{ START + (WIDTH * slot) + 0 }}
        pos-w: {{ WIDTH }}
        pos-y: 27
        pos-h: _5-top
        border-bottom-left-radius: {{ 1 if slot == 0 else 0 }}
        border-bottom-right-radius: {{ 1 if slot == (NUM_SLOTS-1) else 0 }}
        text-align: center
        text-color: white
        text-size: _1-3-no-pad
        text-style: bold
    enzanki-ars-home-weather-7day-day{{slot}}-icon:
      data: com/open-metro/forecast/local/daily/weathercode/{{slot}}
      mode: wmo4680-icon
      style:
        bg: black
        display: show
        pos-x: {{ START + (WIDTH * slot) + 0 }}
        pos-w: 2
        pos-y: 24
        pos-h: "1_5-pad_5"
        border-top-left-radius: {{ 1 if slot == 0 else 0 }}
        text-align: center
        text-color: white
        text-size: "1_5-no-pad"
        text-style: bold
        image-correction: on
    enzanki-ars-home-weather-7day-day{{slot}}-prec:
      data: com/open-metro/forecast/local/daily/precipitation_sum/{{slot}}
      mode: postfix-in
      style:
        bg: darker-green
        display: show
        pos-x: {{ START + (WIDTH * slot) + 3 }}
        pos-w: 2
        pos-y: 26
        pos-h: 1
        text-align: right
        text-color: white
        text-size: _2-3
        text-style: bold
    enzanki-ars-home-weather-7day-day{{slot}}-prec-hours:
      data: com/open-metro/forecast/local/daily/precipitation_hours/{{slot}}
      mode: postfix-hr
      style:
        bg: dark-violet
        display: show
        pos-x: {{ START + (WIDTH * slot) + 2 }}
        pos-w: 3
        pos-y: 25
        pos-h: 1
        text-align: right
        text-color: white
        text-size: _2-3
        text-style: bold
    enzanki-ars-home-weather-7day-day{{slot}}-low:
      data: com/open-metro/forecast/local/daily/temperature_2m_min/{{slot}}
      mode: temp-f-round
      style:
        bg: clear
        display: show
        pos-x: {{ START + (WIDTH * slot) + 0 }}
        pos-w: 2
        pos-y: 26
        pos-h: 1
        text-align: left
        text-color: white
        text-size: _2-3
        text-style: bold
    enzanki-ars-home-weather-7day-day{{slot}}-high:
      data: com/open-metro/forecast/local/daily/temperature_2m_max/{{slot}}
      mode: temp-f-round
      style:
        bg: clear
        display: show
        pos-x: {{ START + (WIDTH * slot) + 1 }}
        pos-w: 2
        pos-y: 26
        pos-h: 1
        text-align: right
        text-color: white
        text-size: _2-3
        text-style: bold
    enzanki-ars-home-weather-7day-day{{slot}}-bg:
      data: io/github/enzanki-ars/home/weather/blank
      style:
        bg: blue-to-red
        display: show
        pos-x: {{ START + (WIDTH * slot) + 0 }}
        pos-w: 3
        pos-y: 26
        pos-h: 1
        text-align: right
        text-color: white
        text-size: _2-3
        text-style: bold
{% endfor %}
    enzanki-ars-home-weather-padding:
      data: io/github/enzanki-ars/blank
      style:
        bg: black
        display: show
        pos-x: 3
        pos-w: 36
        pos-y: 25
        pos-h: 2
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 1
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
  data:
    io:
      github:
        enzanki-ars:
          blank: 
          home: 
            weather:
              info:
                red: HIGH
                blue: LOW
  layer:
    enzanki-ars-home-weather-7day:
      aspect: 16x9
      components: enzanki-ars-home-weather-padding,{% for slot in range(0, NUM_SLOTS) %}enzanki-ars-home-weather-7day-day{{slot}}-day,enzanki-ars-home-weather-7day-day{{slot}}-text,enzanki-ars-home-weather-7day-day{{slot}}-icon,enzanki-ars-home-weather-7day-day{{slot}}-prec,enzanki-ars-home-weather-7day-day{{slot}}-prec-hours,enzanki-ars-home-weather-7day-day{{slot}}-bg,enzanki-ars-home-weather-7day-day{{slot}}-high,enzanki-ars-home-weather-7day-day{{slot}}-low,{%endfor%}
