header:
  version: 14.0.0
init:
  component:
{% for product in ["COMP", "INDU", "SPX"] %}
    enzanki-ars-home-nasdaq-{{product}}-name:
      data: com/nasdaq/market/stock/{{product}}/quote/data/symbol
      style:
        bg: 100-black
        display: show
        pos-x: {{ loop.index0 * 11 + 3 }}
        pos-w: 5
        pos-y: 24
        pos-h: 1
        border-top-left-radius: {{ loop.first | int }}
        border-top-right-radius: 0
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
    enzanki-ars-home-nasdaq-{{product}}-price:
      data: com/nasdaq/market/stock/{{product}}/quote/data/primaryData/lastSalePrice
      mode: prefix-dollar-sign-usd
      style:
        bg: 90-black
        display: show
        pos-x: {{ loop.index0 * 11 + 3 }}
        pos-w: 5
        pos-y: 25
        pos-h: 1
        border-top-left-radius: 0
        border-top-right-radius: 0
        text-align: right
        text-color: white
        text-font: monospace
        text-size: 1
        text-style: bold
    enzanki-ars-home-nasdaq-{{product}}-diff:
      data: com/nasdaq/market/stock/{{product}}/quote/data/primaryData/percentageChange
      mode: postfix-percent-sign-round-2-color
      style:
        bg: 90-black
        display: show
        pos-x: {{ loop.index0 * 11 + 3 }}
        pos-w: 5
        pos-y: 26
        pos-h: 1
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: {{ loop.first | int }}
        text-align: right
        text-color: white
        text-font: monospace
        text-size: 1
        text-style: bold
    enzanki-ars-home-nasdaq-{{product}}-graph:
      data: io/github/enzanki-ars/nasdaq/{{product}}-blank
      custom-options: io/github/enzanki-ars/nasdaq/{{product}}-parameters
      mode: chart-line-color-2-date
      style:
        bg: 100-black
        display: show
        pos-x: {{ loop.index0 * 11 + 8 }}
        pos-w: 6
        pos-y: 24
        pos-h: 3
        border-top-left-radius: 0
        border-top-right-radius: {{ loop.last | int }}
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
    enzanki-ars-home-nasdaq-padding:
      data: io/github/enzanki-ars/blank
      style:
        bg: 90-black
        display: show
        pos-x: 36
        pos-w: 3
        pos-y: 25
        pos-h: 2
        border-top-left-radius: 0
        border-top-right-radius: 0
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
  data:
    io:
      github:
        enzanki-ars:
          blank: 
          nasdaq:
{% for product in ["COMP", "INDU", "SPX"] %}
            {{product}}-blank:
            {{product}}-parameters:
              color:
                y1: lightblue
              axis: 
                x:
                  show: false
                y:
                  show: false
              x-data: data/com/nasdaq/market/stock/{{product}}/chart/data/chart/x
              y-data: data/com/nasdaq/market/stock/{{product}}/chart/data/chart/y
{% endfor %}
  layer:
    enzanki-ars-home-nasdaq:
      aspect: 16x9
      components: enzanki-ars-home-nasdaq-padding,{% for product in ["COMP", "INDU", "SPX"] %}enzanki-ars-home-nasdaq-{{product}}-name,enzanki-ars-home-nasdaq-{{product}}-price,enzanki-ars-home-nasdaq-{{product}}-diff,enzanki-ars-home-nasdaq-{{product}}-graph,{% endfor %}
