@import "constants";
@import "colors/default-colors";

[data-sg-border-variant="test"] {
  padding-left: 10px;
}

[data-sg-border-variant="test"]:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,
    #{map-get($fills, 'red')} 25%,
    #{map-get($fills, 'green')} 25%, #{map-get($fills, 'green')} 50%,
    #{map-get($fills, 'blue')} 50%, #{map-get($fills, 'blue')} 75%,
    #{map-get($fills, 'black')} 75%)
}

[data-sg-border-variant="rl-top"] {
  padding-top: 5px;
}

[data-sg-border-variant="rl-top"]:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom,
    #{map-get($fills, 'blue')} 50%,
    #{map-get($fills, 'red')} 50%)
}

[data-sg-border-variant="rl-bottom"] {
  padding-bottom: 5px;
}

[data-sg-border-variant="rl-bottom"]:after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom,
    #{map-get($fills, 'blue')} 50%,
    #{map-get($fills, 'red')} 50%)
}
