@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Atomic+Age&family=Audiowide&family=Black+Ops+One&family=Bungee&family=Creepster&family=Graduate&family=Kumar+One&family=Metal+Mania&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+SC:wght@400;700&family=Noto+Emoji:wght@400;700&family=Orbitron:wght@400;700&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Squada+One&display=swap');
@import url('/static/fonts/dseg/css/dseg.css');

@import "constants";
@import "border-variants";
@import "colors/default-colors";
@import "colors/lol-colors";
@import "colors/osu-colors";
@import "colors/twitch-colors";
@import "colors/twitter-colors";
@import "colors/voicemeeter-colors";
@import "animations/keyframes";

$fills: map-merge($fills, $osu-main-fills);
$fills: map-merge($fills, $twitter-fills);
$fills: map-merge($fills, $voicemeeter-fills);

:root {
  @each $name, $color in $fills {
    --sg-color-#{$name}: #{$color};
  }
}

.sg {
  position: absolute;
  box-sizing: border-box;
  transition: all .5s ease;
  transform: skewX(0deg) scale(1);
  transform-origin: 0% 0%;
  pointer-events: auto;

  font-size: calc((.75 * var(--dyn-full-h)/var(--ratio-rows)) * 1);
  line-height: calc((var(--dyn-full-h)/var(--ratio-rows)) * 1);

  vertical-align: middle;

  font-family: 'Noto Sans', sans-serif;
  /*alignment-baseline: middle;*/
  text-anchor: middle;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}


a {
  color: unset !important;
}

[data-mode="img"], [data-mode="svg"], [data-mode="iconify-icon"] {
  padding-left: 0ch;
  padding-right: 0ch;
}

img, [data-mode="svg"] svg, [data-mode="iconify-icon"] svg {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  object-fit: cover;
  max-width: calc(var(--sg-max-width) - 1.5ch) !important;
  max-height: calc(var(--sg-max-height) - 1.5ch) !important;
}

[data-mode="csgo-t-health-bar-100"], [data-mode="csgo-ct-health-bar-100"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

[data-sg-image-correction="on"]>.inner-component>img, [data-sg-image-correction="on"]>.inner-component>svg, [data-sg-image-correction="on"]>.inner-component>svg {
  max-width: calc(var(--sg-max-width) - 1.5ch) !important;
  max-height: calc(var(--sg-max-height) - 1.5ch) !important;
}

[data-sg-image-correction="off"]>.inner-component>img, [data-sg-image-correction="off"]>.inner-component>svg, [data-sg-image-correction="off"]>.inner-component>svg {
  max-width: calc(var(--sg-max-width) - 0ch) !important;
  max-height: calc(var(--sg-max-height) - 0ch) !important;
}

.ficon-rotate-45 {
  transform: rotate(45deg);
}

.base-timer {
  position: relative;
  height: 90%;
  width: 90%;
  margin: 5%;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 10px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

[data-sg-timer-remaining-color="green"] {
  color: rgb(65, 184, 131);
}

[data-sg-timer-remaining-color="orange"] {
  color: orange;
}

[data-sg-timer-remaining-color="red"] {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


path {
  transition: all .5s ease;
}

video {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

[data-sg-text-font="normal"] {
  font-family: 'Noto Sans', sans-serif;
}

[data-sg-text-font="normal-sc"] {
  font-family: 'Noto Sans SC', sans-serif;
}

[data-sg-text-font="noto-sans"] {
  font-family: 'Noto Sans', sans-serif;
}

[data-sg-text-font="noto-sans-sc"] {
  font-family: 'Noto Sans SC', sans-serif;
}

[data-sg-text-font="noto-emoji-bw"] {
  font-family: 'Noto Emoji', sans-serif;
}

[data-sg-text-font="monospace"] {
  font-family: 'Roboto Mono', monospace;
}

[data-sg-text-font="roboto-mono"] {
  font-family: 'Roboto Mono', monospace;
}

[data-sg-text-font="amatic"] {
  font-family: 'Amatic SC', cursive;
}

[data-sg-text-font="atomic-age"] {
  font-family: 'Atomic Age', cursive;
}

[data-sg-text-font="audiowide"] {
  font-family: 'Audiowide', cursive;
}

[data-sg-text-font="black-ops"] {
  font-family: 'Black Ops One', cursive;
}

[data-sg-text-font="bungee"] {
  font-family: 'Bungee', cursive;
}

[data-sg-text-font="creepster"] {
  font-family: 'Creepster', cursive;
}

[data-sg-text-font="graduate"] {
  font-family: 'Graduate', cursive;
}

[data-sg-text-font="kumar"] {
  font-family: 'Kumar One', cursive;
}

[data-sg-text-font="metal"] {
  font-family: 'Metal Mania', cursive;
}

[data-sg-text-font="orbitron"] {
  font-family: 'Orbitron', sans-serif;
}

[data-sg-text-font="press-start"] {
  font-family: 'Press Start 2P', cursive;
}

[data-sg-text-font="space-mono"] {
  font-family: 'Space Mono', monospace;
}

[data-sg-text-font="squada"] {
  font-family: 'Squada One', cursive;
}

[data-sg-text-font="dseg"] {
  font-family: 'DSEG7-Classic-MINI', monospace;
}

[data-sg-text-font="dseg7"] {
  font-family: 'DSEG7-Classic-MINI', monospace;
}

[data-sg-text-font="dseg14"] {
  font-family: 'DSEG14-Classic-MINI', monospace;
}

[data-sg-text-font="minecraft"] {
  font-family: "Minecraft", monospace;
}

[data-sg-text-style="normal"] {
  font-weight: 400;
}

[data-sg-text-style="bold"] {
  font-weight: 700;
}

[data-sg-text-style="italic"] {
  font-weight: 400;
  font-style: italic;
}

[data-sg-text-style="bold-italic"] {
  font-weight: 700;
  font-style: italic;
}

[data-sg-text-align="center"] {
  text-align: center !important;
}

[data-sg-text-align="left"] {
  text-align: left !important;

  padding-left: .5ch;
  padding-right: .5ch;
}

[data-sg-text-align="left-sm-margin"] {
  text-align: left !important;

  padding-left: .25ch;
  padding-right: .25ch;
}

[data-sg-text-align="right"] {
  text-align: right !important;

  padding-left: .5ch;
  padding-right: .5ch;
}

[data-sg-text-align="right-sm-margin"] {
  text-align: right !important;

  padding-left: .25ch;
  padding-right: .25ch;
}

[data-sg-white-space="nowrap"] {
  white-space: nowrap !important;
}

[data-sg-white-space="normal"] {
  white-space: normal !important;
}

.fade-animation {
  animation-duration: .75s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

[data-sg-display="hide"] {
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%) !important;
}

[data-sg-display="show"] {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%) !important;
}

[data-sg-display="fade-out"] {
  animation-name: fade-out-animation;
  @extend .fade-animation;
}

[data-sg-display="fade-in"] {
  animation-name: fade-in-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-out-right"] {
  animation-name: wipe-out-right-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-in-right"] {
  animation-name: wipe-in-right-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-out-left"] {
  animation-name: wipe-out-left-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-in-left"] {
  animation-name: wipe-in-left-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-in-bottom"] {
  animation-name: wipe-in-bottom-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-out-bottom"] {
  animation-name: wipe-out-bottom-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-out-top"] {
  animation-name: wipe-out-top-animation;
  @extend .fade-animation;
}

[data-sg-display="wipe-in-top"] {
  animation-name: wipe-in-top-animation;
  @extend .fade-animation;
}

.skew {
  transform-origin: 50% 50% !important;
}

[data-sg-skew="left"] {
  @extend .skew;
  transform: skewX(10deg) scale(1.0175) !important;
}

[data-sg-skew="right"] {
  @extend .skew;
  transform: skewX(-10deg) scale(1.0175) !important;
}

.inner-component {
  transform: skewX(0deg);
  height: 100%;
}

body {
  transition: all .5s ease;
}

/*
[data-mode="image"] {
  padding: .2vw !important;
}
*/

[data-sg-skew="left"] .inner-component {
  transform: skewX(-10deg) !important;
}

[data-sg-skew="right"] .inner-component {
  transform: skewX(10deg) !important;
}

@each $name,
$color in $gradient-fills {
  [data-sg-bg="#{$name}"] {
    background-image: #{$color};
    border-width: 1px;
    border-color: #{$color};
  }
}

@each $name,
$color in $fills {

  [data-sg-bg="#{$name}"] {
    background-color: #{$color};
    border-width: 1px;
    border-color: #{$color};
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  @each $side in $border-sides {
    [data-sg-border-style-#{$side}="#{$name}"] {
      border-#{$side}: calc(var(--dyn-full-h) / (var(--ratio-rows)) / 10) solid #{$color} !important;
    }

    [data-sg-border-style-#{$side}="#{$name}-thicker"] {
      border-#{$side}: calc(var(--dyn-full-h) / (var(--ratio-rows)) / 5) solid #{$color} !important;
    }
  }

  [data-sg-text-color="#{$name}"] {
    color: #{$color};
  }
}

@each $name,
$color in $gradient-fills {
  [data-sg-bg="#{$name}"] {
    background-image: #{$color};
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
}