@import "constants";
@import "components";

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all .5s ease;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transition: all .5s ease;
}

$ratios: (
  "16x9": ("w": 16, "h": 9, "s": 3),
  "16x9-sm": ("w": 16, "h": 9, "s": 4),
  "16x9-xsm": ("w": 16, "h": 9, "s": 5),
  "1x1": ("w": 1, "h": 1, "s": 3 * 9),
  "1x1-sm": ("w": 1, "h": 1, "s": 4 * 9),
  "4x3": ("w": 4, "h": 3, "s": 9),
  "9x16": ("w": 9, "h": 16, "s": 2),
  "9x16-sm": ("w": 9, "h": 16, "s": 3)
);


$max_w: 16 * 5;
$max_h: 9 * 5;

@supports (height: 1dvh) {
  :root {
    --dyn-full-h: 100dvh;
  }
}

@supports not (height: 1dvh) {
  :root {
    --dyn-full-h: 100vh;
  }
}


@each $ratio_name,
$ratio_info in $ratios {
  $ratio_w: map-get($ratio_info, "w");
  $ratio_h: map-get($ratio_info, "h");
  $ratio_s: map-get($ratio_info, "s");

  [data-sg-aspect="#{$ratio_name}"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;

    --ratio-w: #{$ratio_w};
    --ratio-h: #{$ratio_h};
    --ratio-s: #{$ratio_s};
    --ratio-cols: calc(var(--ratio-w) * var(--ratio-s));
    --ratio-rows: calc(var(--ratio-h) * var(--ratio-s));
    --ratio-calc-width: 100vw;
    --ratio-calc-height: calc(100vw * #{$ratio_h} / #{$ratio_w});

    width: var(--ratio-calc-width);
    height: var(--ratio-calc-height);
  }

  [data-sg-aspect="full-#{$ratio_name}"] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    margin: auto;
    justify-content: center;
    transition: all .5s ease;

    --ratio-w: #{$ratio_w};
    --ratio-h: #{$ratio_h};
    --ratio-s: #{$ratio_s};
    --ratio-cols: calc(var(--ratio-w) * var(--ratio-s));
    --ratio-rows: calc(var(--ratio-h) * var(--ratio-s));
    --ratio-calc-width: calc(var(--dyn-full-h) * #{$ratio_w} / #{$ratio_h});
    --ratio-calc-height: var(--dyn-full-h);

    width: var(--ratio-calc-width);
    height: var(--ratio-calc-height);
  }

  @media (min-aspect-ratio: #{$ratio_w} / #{$ratio_h}) {
    [data-sg-aspect="#{$ratio_name}"] {
      --ratio-calc-width: calc(var(--dyn-full-h) * #{$ratio_w} / #{$ratio_h});
      --ratio-calc-height: var(--dyn-full-h);

      width: var(--ratio-calc-width);
      height: var(--ratio-calc-height);
    }

    [data-sg-aspect="full-#{$ratio_name}"] {
      transform: translateY(-0%);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      --ratio-calc-width: 100vw;
      --ratio-calc-height: calc(100vw * #{$ratio_h} / #{$ratio_w});

      width: var(--ratio-calc-width);
      height: var(--ratio-calc-height);
    }

    [data-sg-aspect="#{$ratio_name}"][data-sg-aspect-pos="center"] {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: calc((100vw - var(--ratio-calc-width)) / 2) !important;
      margin-right: calc((100vw - var(--ratio-calc-width)) / 2) !important;
    }

    [data-sg-aspect="#{$ratio_name}"][data-sg-aspect-pos="top"] {
      margin-top: 0 !important;
      margin-bottom: calc(var(--dyn-full-h) - var(--ratio-calc-height)) !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    [data-sg-aspect="#{$ratio_name}"][data-sg-aspect-pos="bottom"] {
      margin-top: calc(var(--dyn-full-h) - var(--ratio-calc-height)) !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    [data-sg-aspect="#{$ratio_name}"][data-sg-aspect-pos="left"] {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: 0 !important;
      margin-right: calc(100vw - var(--ratio-calc-width)) !important;
    }

    [data-sg-aspect="#{$ratio_name}"][data-sg-aspect-pos="right"] {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      margin-left: calc(100vw - var(--ratio-calc-width)) !important;
      margin-right: 0 !important;
    }
  }
}

[data-sg-aspect-pos="center"] {
  margin-top: calc((var(--dyn-full-h) - var(--ratio-calc-height)) / 2) !important;
  margin-bottom: calc((var(--dyn-full-h) - var(--ratio-calc-height)) / 2) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-sg-aspect-pos="top"] {
  margin-top: 0 !important;
  margin-bottom: calc(var(--dyn-full-h) - var(--ratio-calc-height)) !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-sg-aspect-pos="bottom"] {
  margin-top: calc(var(--dyn-full-h) - var(--ratio-calc-height)) !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

[data-sg-aspect-pos="left"] {
  margin-top: calc((var(--dyn-full-h) - var(--ratio-calc-height)) / 2) !important;
  margin-bottom: calc((var(--dyn-full-h) - var(--ratio-calc-height)) / 2) !important;
  margin-left: 0 !important;
  margin-right: calc(100vw - var(--ratio-calc-width)) !important;
}

[data-sg-aspect-pos="right"] {
  margin-top: calc((var(--dyn-full-h) - var(--ratio-calc-height)) / 2) !important;
  margin-bottom: calc((var(--dyn-full-h) - var(--ratio-calc-height)) / 2) !important;
  margin-left: calc(100vw - var(--ratio-calc-width)) !important;
  margin-right: 0 !important;
}

[data-sg-text-size] {
  padding-top: var(--sg-pad-top);
}


@for $i from 1 through ($max_w+1) {
  [data-sg-pos-x="#{$i}"] {
    left: calc((100% / var(--ratio-cols)) * (#{$i} - 1));
  }

  [data-sg-pos-w="#{$i}"] {
    width: calc((100% / var(--ratio-cols)) * #{$i});
    --sg-max-width: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * #{$i}) !important;
  }

  [data-sg-pos-w="#{$i}_5"] {
    width: calc((100% / var(--ratio-cols)) * (#{$i} + .5));
    --sg-max-width: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (#{$i} + .5)) !important;
  }

  [data-sg-pos-w="#{$i}"]>*>img {
    max-width: var(--sg-max-width);
  }

  [data-sg-pos-w="#{$i}"]>*>svg {
    max-width: var(--sg-max-width);
  }
}

@for $i from 1 through ($max_h+1) {
  [data-sg-pos-y="#{$i}"] {
    top: calc((100% / var(--ratio-rows)) * (#{$i} - 1));
  }

  [data-sg-pos-y="#{$i}_25"] {
    top: calc((100% / var(--ratio-rows)) * (#{$i} - 1 + .25));
  }

  [data-sg-pos-y="#{$i}_5"] {
    top: calc((100% / var(--ratio-rows)) * (#{$i} - 1 + .5));
  }

  [data-sg-pos-h="#{$i}"] {
    height: calc((100% / var(--ratio-rows)) * #{$i});
    --sg-max-height: calc(((100 * (var(--ratio-calc-width) / 100))/var(--ratio-cols)) * #{$i}) !important;
  }

  [data-sg-pos-h="#{$i}"]>*>img {
    max-height: var(--sg-max-height);
  }

  [data-sg-pos-h="#{$i}"]>*>svg {
    max-height: var(--sg-max-height);
  }

  @each $side in $border-radius-sides {
    [data-sg-border-#{$side}-radius="#{$i}"] {
      border-#{$side}-radius: calc(((25 * (var(--ratio-calc-height) / 100)) / var(--ratio-rows)) * #{$i});
    }

    [data-sg-border-#{$side}-radius="_5"] {
      border-#{$side}-radius: calc(((25 * (var(--ratio-calc-height) / 100)) / var(--ratio-rows)) * .5);
    }
  }

  [data-sg-text-size="#{$i}"] {
    font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * #{$i}) !important;
    line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * #{$i}) !important;
    padding-top: var(--sg-pad-top);
    --sg-pad-top: 0vh;
  }
}

[data-sg-pos-h="_5"] {
  height: calc((var(--ratio-calc-height) / var(--ratio-rows)) * .5);
}

[data-sg-pos-h="_5-top"] {
  height: calc((var(--ratio-calc-height) / var(--ratio-rows)) * .5);
}

[data-sg-pos-h="_5-center"] {
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .25);
  height: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
}

[data-sg-pos-h="_5-bottom"] {
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
  height: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
}



[data-sg-pos-h="1-pad_5"] {
  height: calc((var(--ratio-calc-height) / var(--ratio-rows)) * 1);
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
}
[data-sg-pos-h="1_25"] {
  height: calc((var(--ratio-calc-height) /var(--ratio-rows)) * 1.25);
}

[data-sg-pos-h="1_5"] {
  height: calc((var(--ratio-calc-height) / var(--ratio-rows)) * 1.5);
}

[data-sg-pos-h="1_5-pad_5"] {
  height: calc((var(--ratio-calc-height) / var(--ratio-rows)) * 1.5);
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
}

[data-sg-pos-h="2-pad_5"] {
  height: calc((var(--ratio-calc-height) / var(--ratio-rows)) * 2);
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
}

[data-sg-pos-h="_2-3"] {
  height: calc((var(--ratio-calc-height) /var(--ratio-rows)) * 2/3);
}

[data-sg-pos-h="_2-3-pad_5"] {
  height: calc((var(--ratio-calc-height)/var(--ratio-rows)) * 2/3);
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * .5);
}

[data-sg-pos-h="_2-3-bottom"] {
  height: calc((var(--ratio-calc-height)/var(--ratio-rows)) * 2/3);
  margin-top: calc((var(--ratio-calc-height)/var(--ratio-rows)) * 1/3);
}


[data-sg-pos-w="2-pad_5"] {
  width: calc((var(--ratio-calc-width) / var(--ratio-cols)) * 2);
  margin-left: calc((var(--ratio-calc-width)/var(--ratio-cols)) * .5);
}


[data-sg-pos-w="1_5"] {
  width: calc((var(--ratio-calc-width) / var(--ratio-cols)) * 1.5);
}

[data-sg-pos-w="1_5-left"] {
  width: calc((var(--ratio-calc-width) / var(--ratio-cols)) * 1.5);
}

[data-sg-pos-w="1_5-right"] {
  width: calc((var(--ratio-calc-width) / var(--ratio-cols)) * 1.5);
  margin-left: calc((var(--ratio-calc-width)/var(--ratio-cols)) * .5);
}



[data-sg-text-size="1_25"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.25) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.25) !important;
  --sg-pad-top: 0vh;
}

[data-sg-text-size="1_25-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.25) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.25) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .125);
}

[data-sg-text-size="1_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.5) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .25);
}

[data-sg-text-size="1_5-pad-_75"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.5) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .75);
}

[data-sg-text-size="1_5-no-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1.5) !important;
  --sg-pad-top: 0vh;
}

[data-sg-text-size="1-no-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1) !important;
  --sg-pad-top: 0vh;
}

[data-sg-text-size="_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .25);
}

[data-sg-text-size="_5-pad-2"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .75);
}

[data-sg-text-size="_5-pad_2-3"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1/12);
}

[data-sg-text-size="_5-no-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
}

[data-sg-text-size="_5-pad-left_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5) !important;
  padding-left: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * .5);
  --sg-pad-top: 0vh;
}

[data-sg-text-size="_1-3"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3));
}

[data-sg-text-size="_1-3-no-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 12));
}

[data-sg-text-size="_3-4"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (3 / 4)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (3 / 4)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 8));
}

[data-sg-text-size="_2-3"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 6));
}

[data-sg-text-size="_2-3-no-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
}

[data-sg-text-size="_2-3-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 6));
}

[data-sg-text-size="_2-3-pad-1_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (2 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3));
}

[data-sg-text-size="_1-3-pad_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 12));
}

[data-sg-text-size="_4-3"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 3));
}

[data-sg-text-size="_4-3-no-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 3)) !important;
}

[data-sg-text-size="_4-3-pad-1_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (4 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 12));
}

[data-sg-text-size="_5-3"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (5 / 3)) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (5 / 3)) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 6));
}

[data-sg-text-size="1-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows))) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows))) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 2));
}

[data-sg-text-size="1-pad-1_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows))) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows))) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 4));
}

[data-sg-text-size="2-pad"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 2) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 2) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 1);
}

[data-sg-text-size="2-pad-_5"] {
  font-size: calc(((75 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 2) !important;
  line-height: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * 2) !important;
  --sg-pad-top: calc(((100 * (var(--ratio-calc-height) / 100))/var(--ratio-rows)) * (1 / 2));
}