header:
  version: 14.0.0
{% set x_start = 2 %}
{% set y_start = 4 %}
init:
  component:
{% for row in range(1,18) %}
    crl-2022_3SU-stand-rank{{row}}-arrow:
      data: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/A
      custom-style: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/B
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: {{ 1 if loop.first else 0 }}
        border-bottom-left-radius: {{ 1 if loop.last else 0 }}
        border-style-bottom: {{ "dark-red" if row == 9 else "" }}
        skew: none
        display: show
        pos-x: {{ 0 + x_start }}
        pos-w: 1
        pos-y: {{ row + y_start }}
        pos-h: 1
        text-size: 1
        text-align: center
    crl-2022_3SU-stand-rank{{row}}-status:
      data: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/D
      custom-style: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/E
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-style-bottom: {{ "dark-red" if row == 9 else "" }}
        skew: none
        display: show
        pos-x: {{ 1 + x_start }}
        pos-w: 1
        pos-y: {{ row + y_start }}
        pos-h: 1
        text-size: 1
        text-align: center
    crl-2022_3SU-stand-rank{{row}}-rank:
      data: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/C
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-style-bottom: {{ "dark-red" if row == 9 else "" }}
        skew: none
        display: show
        pos-x: {{ 2 + x_start }}
        pos-w: 1
        pos-y: {{ row + y_start }}
        pos-h: 1
        text-size: "_3-4"
        text-align: right
    crl-2022_3SU-stand-rank{{row}}-name:
      data: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/F
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-style-bottom: {{ "dark-red" if row == 9 else "" }}
        skew: none
        display: show
        pos-x: {{ 3 + x_start }}
        pos-w: 8
        pos-y: {{ row + y_start }}
        pos-h: 1
        text-size: "_2-3"
        text-align: left
    crl-2022_3SU-stand-rank{{row}}-points:
      data: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/K
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-style-bottom: {{ "dark-red" if row == 9 else "" }}
        skew: none
        display: show
        pos-x: {{ 11 + x_start }}
        pos-w: 3
        pos-y: {{ row + y_start }}
        pos-h: 1
        text-size: 1
        text-align: right
    crl-2022_3SU-stand-rank{{row}}-added:
      data: edu/osu/org/osubgc/scoreboard/cca-2022_2-SU/standings/{{row+1}}/J
      mode: prefix-plus
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-top-right-radius: {{ 1 if loop.first else 0 }}
        border-bottom-right-radius: {{ 1 if loop.last else 0 }}
        border-style-bottom: {{ "dark-red" if row == 9 else "" }}
        skew: none
        display: show
        pos-x: {{ 14 + x_start }}
        pos-w: 2
        pos-y: {{ row + y_start }}
        pos-h: 1
        text-size: "_3-4"
        text-align: right
{% endfor %}
  layer:
    crl-2022_3SU-stand:
      components: {% for row in range(1,18) %}crl-2022_3SU-stand-rank{{row}}-arrow,crl-2022_3SU-stand-rank{{row}}-status,crl-2022_3SU-stand-rank{{row}}-rank,crl-2022_3SU-stand-rank{{row}}-name,crl-2022_3SU-stand-rank{{row}}-points,crl-2022_3SU-stand-rank{{row}}-added,{%endfor%}
      display: show
      aspect: 16x9
  overlay:
    crl-2022_3SU-open:
      display: show
      aspect: 16x9
      layers: crl-2022_3SU-stand