header:
  version: 14.0.0
init:
  component:
    osubgc-caster-1-bg:
      data: edu/osu/org/osubgc/blank
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        skew: "left"
        display: show
        pos-x: 2
        pos-w: 12
        pos-y: 25
        pos-h: 2
        text-size: 2
        text-align: center
    osubgc-caster-1-icon:
      data: edu/osu/org/osubgc/casters/1/icon
      mode: icon-font
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 2
        pos-w: 2
        pos-y: 25
        pos-h: 2
        text-size: 2
        text-align: center
    osubgc-caster-1-name:
      data: edu/osu/org/osubgc/casters/1/name
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 4
        pos-w: 10
        pos-y: 25
        pos-h: "_4-3"
        text-size: "_4-3-no-pad"
        text-align: left
    osubgc-caster-1-username:
      data: edu/osu/org/osubgc/casters/1/username
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 5
        pos-w: 9
        pos-y: 26
        pos-h: 1
        text-size: "_2-3-center"
        text-align: left
    osubgc-caster-2-bg:
      data: edu/osu/org/osubgc/blank
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        skew: "right"
        display: show
        pos-x: 15
        pos-w: 12
        pos-y: 25
        pos-h: 2
        text-size: 2
        text-align: center
    osubgc-caster-2-icon:
      data: edu/osu/org/osubgc/casters/2/icon
      mode: icon-font
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 25
        pos-w: 2
        pos-y: 25
        pos-h: 2
        text-size: 2
        text-align: center
    osubgc-caster-2-name:
      data: edu/osu/org/osubgc/casters/2/name
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 15
        pos-w: 10
        pos-y: 25
        pos-h: "_4-3"
        text-size: "_4-3-no-pad"
        text-align: right
    osubgc-caster-2-username:
      data: edu/osu/org/osubgc/casters/2/username
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 1
        border-top-right-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 15
        pos-w: 9
        pos-y: 26
        pos-h: 1
        text-size: "_2-3-center"
        text-align: right
  data:
    edu/osu/org/osubgc/casters:
      1: 
        icon: fas fa-headset
        name: Jeremy Sussman
        username: JermzPC
      2: 
        icon: fas fa-headset
        name: Alex Quedens
        username: queeds
  layer:
    osubgc-caster-layer:
      components: {% for caster in range(1,3) %}osubgc-caster-{{caster}}-bg,osubgc-caster-{{caster}}-icon,osubgc-caster-{{caster}}-name,osubgc-caster-{{caster}}-username,{%endfor%}
      display: show
      aspect: 1x1
      aspect-pos: center
  overlay:
    osubgc-casters:
      display: show
      layers: osubgc-caster-layer
