header:
  version: 14.0.0
init:
  component:
    osubgc-other-stream-2-team1-logo:
      data: edu/osu/org/osubgc/other-stream-2/away/logo
      custom-style: edu/osu/org/osubgc/other-stream-2/away/color_style
      mode: image
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 1
        pos-w: 2
        pos-y: 20
        pos-h: "1_5-pad_5"
        text-size: "1"
        image-correction: on
        text-align: center
    osubgc-other-stream-2-team1-rounds-bg:
      data: edu/osu/org/osubgc/other-stream-2/wins-needed
      custom-style: edu/osu/org/osubgc/other-stream-2/away/color_style
      mode: open-score-half
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: {{ radius }}
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 20
        pos-h: "_5-bottom"
        text-size: "_5"
        text-align: left
    osubgc-other-stream-2-team1-rounds:
      data: edu/osu/org/osubgc/other-stream-2/away/rounds
      custom-style: edu/osu/org/osubgc/other-stream-2/away/color_style
      mode: filled-score-half
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 20
        pos-h: "_5-bottom"
        text-size: "_5"
        text-align: left
    osubgc-other-stream-2-team1-score:
      data: edu/osu/org/osubgc/other-stream-2/away/score
      custom-style: edu/osu/org/osubgc/other-stream-2/away/color_style
      mode: text
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 21
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-other-stream-2-team2-logo:
      data: edu/osu/org/osubgc/other-stream-2/home/logo
      custom-style: edu/osu/org/osubgc/other-stream-2/home/color_style
      mode: image
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 1
        pos-w: 2
        pos-y: 22
        pos-h: "1_5"
        text-size: "1"
        image-correction: on
        text-align: center
    osubgc-other-stream-2-team2-score:
      data: edu/osu/org/osubgc/other-stream-2/home/score
      custom-style: edu/osu/org/osubgc/other-stream-2/home/color_style
      mode: text
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 22
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-other-stream-2-team2-rounds-bg:
      data: edu/osu/org/osubgc/other-stream-2/wins-needed
      custom-style: edu/osu/org/osubgc/other-stream-2/home/color_style
      mode: open-score-half
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 23
        pos-h: "_5-top"
        text-size: "_5"
        text-align: left
    osubgc-other-stream-2-team2-rounds:
      data: edu/osu/org/osubgc/other-stream-2/home/rounds
      custom-style: edu/osu/org/osubgc/other-stream-2/home/color_style
      mode: filled-score-half
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: 3
        pos-w: 2
        pos-y: 23
        pos-h: "_5-top"
        text-size: "_5"
        text-align: left
    osubgc-other-stream-2-title:
      data: edu/osu/org/osubgc/other-stream-2/title
      mode: text
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: {{ (1 if radius == '1' else 0) if stream == '0' else 0 }}
        skew: none
        display: show
        pos-x: 1
        pos-w: 4
        pos-y: 23
        pos-h: "_5-bottom"
        text-size: "_5-no-pad"
        text-align: center
    osubgc-other-stream-2-url-icon:
      data: edu/osu/org/osubgc/other-stream-2/url-icon
      mode: icon-font
      style:
        bg: twitch-purple
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: {{ 'show' if stream == '1' else 'hide' }}
        pos-x: 1
        pos-w: 1
        pos-y: 24
        pos-h: "_5-top"
        text-size: "_5-no-pad"
        text-align: center
    osubgc-other-stream-2-url:
      data: edu/osu/org/osubgc/other-stream-2/url
      mode: text
      style:
        bg: twitch-purple
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 1
        skew: none
        display: {{ 'show' if stream == '1' else 'hide' }}
        pos-x: 1
        pos-w: 4
        pos-y: 24
        pos-h: "_5-top"
        text-size: "_5-no-pad"
        text-align: center
  data:
    edu/osu/org/osubgc/other-stream-2:
      url-icon: fab fa-twitch
  layer:
    osubgc-other-stream-2-layer:
      components: osubgc-other-stream-2-team1-logo,osubgc-other-stream-2-team1-rounds-bg,osubgc-other-stream-2-team1-rounds,osubgc-other-stream-2-team1-score,osubgc-other-stream-2-team2-logo,osubgc-other-stream-2-team2-score,osubgc-other-stream-2-team2-rounds-bg,osubgc-other-stream-2-team2-rounds,osubgc-other-stream-2-title,osubgc-other-stream-2-url-icon,osubgc-other-stream-2-url
      display: show
      aspect: 16x9
      aspect-pos: center
  overlay:
    osubgc-other-stream-2:
      layers: osubgc-other-stream-2-layer
      aspect: 16x9
