header:
  version: 14.0.0
init:
{% set x_start = 2 %}
{% set y_start = 4 %}
  component:
    rl-gsi-dv-bg:
      data: edu/osu/osubgc/scoreboard/blank
      style:
        bg: 50-black-transparent-to-clear-right
        text-color: white
        text-style: bold
        skew: none
        display: show
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        pos-x: 1
        pos-w: 15
        pos-y: 1
        pos-h: 36
        text-size: 1
        text-align: center
    rl-gsi-dv-custom-home-logo:
      data: edu/osu/org/osubgc/scoreboard/logo/home
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css
      mode: image
      style:
        bg: osu-scarlet
        text-color: white
        text-style: bold
        border-bottom-left-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 2
        pos-y: {{ y_start + 0 }}
        pos-h: 2
        text-size: 1
        text-align: center
        image-correction: "on"
    rl-gsi-dv-custom-home-name:
      data: edu/osu/org/osubgc/scoreboard/name/home
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css
      style:
        bg: osu-scarlet
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 12
        pos-y: {{ y_start - 1 }}
        pos-h: 1
        text-size: 1
        text-align: left
    rl-gsi-dv-custom-home-score-bg:
      data: edu/osu/org/osubgc/scoreboard/wins-needed
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css
      mode: open-score-half
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 12
        pos-y: {{ y_start - 2 }}
        pos-h: "_5-bottom"
        text-size: _5
        text-align: left
    rl-gsi-dv-custom-home-score:
      data: edu/osu/org/osubgc/scoreboard/score/home
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/dark_css_nobg
      mode: filled-score-half
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-bottom-left-radius: 0
        border-top-left-radius: 1
        border-top-right-radius: 1
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 12
        pos-y: {{ y_start - 2 }}
        pos-h: "_5-bottom"
        text-size: _5
        text-align: left
    rl-gsi-dv-custom-away-logo:
      data: edu/osu/org/osubgc/scoreboard/logo/away
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css
      mode: image
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start + 10 }}
        pos-w: 2
        pos-y: {{ y_start + 0 }}
        pos-h: 2
        text-size: 1
        text-align: center
        image-correction: "on"
    rl-gsi-dv-custom-away-name:
      data: edu/osu/org/osubgc/scoreboard/name/away
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-top-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 12
        pos-y: {{ y_start + 2 }}
        pos-h: 1
        text-size: 1
        text-align: right
    rl-gsi-dv-custom-away-score-bg:
      data: edu/osu/org/osubgc/scoreboard/wins-needed
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css
      mode: open-score-half
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 12
        pos-y: {{ y_start + 3 }}
        pos-h: _5-top
        text-size: _5
        text-align: right
    rl-gsi-dv-custom-away-score:
      data: edu/osu/org/osubgc/scoreboard/score/away
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/dark_css_nobg
      mode: filled-score-half
      style:
        bg: clear
        text-color: white
        text-style: bold
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ x_start + 0 }}
        pos-w: 12
        pos-y: {{ y_start + 3 }}
        pos-h: _5-top
        text-size: _5
        text-align: right
    rl-gsi-dv-custom-title:
      data: edu/osu/org/osubgc/scoreboard/title
      style:
        bg: dark-grey
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: hide
        pos-x: 21
        pos-w: 8
        pos-y: 4
        pos-h: 1
        text-size: 1
        text-align: center
  layer:
    rl-gsi-dv-bg-layer:
      components: rl-gsi-dv-bg
      display: show
      aspect: 16x9-sm
    rl-gsi-dv-teams:
      components: rl-gsi-dv-custom-title,rl-gsi-dv-custom-home-logo,rl-gsi-dv-custom-home-name,rl-gsi-dv-custom-home-score-bg,rl-gsi-dv-custom-home-score,rl-gsi-dv-custom-away-logo,rl-gsi-dv-custom-away-name,rl-gsi-dv-custom-away-score-bg,rl-gsi-dv-custom-away-score
      display: show
      aspect: 16x9-sm
