header:
  version: 14.0.0
  dependencies:
    - filename: com/rocketleague/overlays/data-view/rl-gsi-data-view-overview
    - filename: com/rocketleague/overlays/data-view/rl-gsi-data-view-players
    - filename: com/rocketleague/overlays/data-view/rl-gsi-data-view-teams
init:
  overlay:
    rl-gsi-data-view: 
      layers: rl-gsi-dv-match-stats,{% for stat in ['pressure', 'possession'] %}rl-gsi-dv-{{stat}},{% endfor %},{% for player in [1,2,3,5,6,7] %}rl-gsi-dv-{{player}},{%endfor%},rl-gsi-dv-stat-labels
      display: show
    rl-gsi-data-view-summary: 
      layers: rl-gsi-dv-bg-layer,rl-gsi-dv-score,rl-gsi-dv-teams,rl-gsi-dv-match-stats,{% for stat in ['pressure', 'possession'] %}rl-gsi-dv-{{stat}},{% endfor %}
      display: show
