header:
  version: 14.0.0
init:
{% set x_start = 2 %}
{% set y_start = 8 %}
  component:
    rl-gsi-dv-team0-score:
      data: com/rocketleague/gsi/data/game/teams/0/score
      custom-style: com/rocketleague/gsi/extra/teams/0/color_primary/css
      style:
        bg: 90-black
        display: show
        pos-h: 2
        pos-w: 2
        pos-x: {{ x_start + 2 }}
        pos-y: {{ y_start + 0 }}
        text-align: center
        text-color: white
        text-size: 2
        text-style: bold
    rl-gsi-dv-team1-score:
      data: com/rocketleague/gsi/data/game/teams/1/score
      custom-style: com/rocketleague/gsi/extra/teams/1/color_primary/css
      style:
        bg: 90-black
        display: show
        pos-h: 2
        pos-w: 2
        pos-x: {{ x_start + 8 }}
        pos-y: {{ y_start + 0 }}
        text-align: center
        text-color: white
        text-size: 2
        text-style: bold
    rl-gsi-dv-clock:
      data: com/rocketleague/gsi/extra/time
      style:
        bg: 80-black
        display: show
        pos-h: 2
        pos-w: 4
        pos-x: {{ x_start + 4 }}
        pos-y: {{ y_start + 0 }}
        text-align: center
        text-color: white
        text-size: 2
        text-style: bold
    rl-gsi-dv-match-stats-header:
      data: com/rocketleague/text/label/match-stats
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ y_start + 4 }}
        border-top-left-radius: 1
        border-top-right-radius: 1
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% for stat in ['goals', 'shots', 'saves', 'demos'] %}
    rl-gsi-dv-match-stats-{{stat}}-label:
      data: com/rocketleague/text/label/{{stat}}  
      style:
        bg: 70-black
        display: show
        pos-h: 1
        pos-w: 6
        pos-x: {{ x_start + 3 }}
        pos-y: {{ loop.index0 + y_start + 5 }}
        border-top-left-radius: 0
        border-top-right-radius: 0
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% set outer_loop = loop %}
{% for team in [0,1] %}
    rl-gsi-dv-team{{team}}-{{stat}}:
      data: com/rocketleague/gsi/extra/teams/{{team}}/{{stat}}
      custom-style: com/rocketleague/gsi/extra/teams/{{team}}/color_primary/dark_css
      style:
        bg: 90-black
        display: show
        pos-h: 1
        pos-w: 3
        pos-x: {{ x_start + team * 9}}
        pos-y: {{ outer_loop.index0 + y_start + 5 }}
        border-bottom-left-radius: {% if team %}0{% else %}{{ outer_loop.last | int }}{% endif %}
        border-bottom-right-radius: {% if team %}{{ outer_loop.last | int * team }}{% else %}0{% endif %}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% endfor %}

{% for stat in ['pressure', 'possession', 'boost_advantage'] %}
    rl-gsi-dv-{{stat}}-label:
      data: com/rocketleague/text/label/team-{{stat}}
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ loop.index0 * 11 + y_start + 10 }}
        border-top-left-radius: 1
        border-top-right-radius: 1
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-dv-{{stat}}-meaning:
      data: com/rocketleague/text/label/team-{{stat}}-meaning
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ loop.index0 * 11 + y_start + 19 }}
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        text-align: center
        text-color: white
        text-size: _2-3
        text-style: bold
    rl-gsi-dv-chart-{{stat}}:
      data: com/rocketleague/charts/chart-{{stat}}
      custom-options: com/rocketleague/charts/chart-{{stat}}-parameters
      mode: chart-line-teams-fixed-100
      style:
        bg: clear
        display: show
        pos-h: 6
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ loop.index0 * 11 + y_start + 13 }}
        text-color: white
        text-size: 1
        text-style: bold
{% set outer_loop = loop %}
{% for team in [0,1] %}
    rl-gsi-dv-{{stat}}-team{{team}}:
      data: com/rocketleague/gsi/extra/teams/{{team}}/{{stat}}/time_100
      mode: rl-boost-total-{% if team == 0 %}home{%else%}away{%endif%}
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ outer_loop.index0 * 11 + y_start + 11 + 1 * team }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-dv-{{stat}}-team{{team}}-name:
      data: edu/osu/org/osubgc/scoreboard/name-short/{% if team %}away{%else%}home{%endif%}
      mode: text
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ outer_loop.index0 * 11 + y_start + 11 + 1 * team }}
        text-align: left
        text-color: white
        text-size: _2-3
        text-style: bold
    rl-gsi-dv-{{stat}}-team{{team}}-label:
      data: com/rocketleague/gsi/extra/teams/{{team}}/{{stat}}/time_percent_text
      mode: postfix-percent-sign
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ outer_loop.index0 * 11 + y_start + 11 + 1 * team }}
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% endfor %}
    rl-gsi-dv-possession-location-label:
      data: com/rocketleague/text/label/team-possession-location
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ y_start + 18 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% for team in [0,1] %}
{% for x in [0,1,2] %}
{% for y in [0,1,2] %}
    rl-gsi-dv-possession-location-team{{team}}-{{x}}-{{y}}:
      data: com/rocketleague/gsi/extra/teams/{{team}}/possession/loc_percent/{{x}}/{{y}}
      mode: rl-total-opacity-{% if team == 0 %}home{%else%}away{%endif%}
      style:
        bg: black
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ x_start + 2 * x + 6 * team }}
        pos-y: {{ y_start + 19 + y}}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-dv-possession-location-team{{team}}-{{x}}-{{y}}-text:
      data: com/rocketleague/gsi/extra/teams/{{team}}/possession/loc_percent_text/{{x}}/{{y}}
      mode: postfix-percent-sign
      style:
        bg: clear
        display: show
        pos-h: 1
        pos-w: 2
        pos-x: {{ x_start + 2 * x + 6 * team }}
        pos-y: {{ y_start + 19 + y}}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
{% endfor %}
{% endfor %}
    rl-gsi-dv-ball-location-label:
      data: com/rocketleague/text/label/ball-location
      style:
        bg: dark-violet
        display: show
        pos-h: 1
        pos-w: 12
        pos-x: {{ x_start + 0 }}
        pos-y: {{ y_start + 23 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold

{% for x in [0,1,2] %}
{% for y in [0,1,2] %}
    rl-gsi-dv-ball-location-{{x}}-{{y}}:
      data: com/rocketleague/gsi/extra/ball/loc_percent/{{x}}/{{y}}
      mode: rl-total-opacity
      style:
        bg: black
        display: show
        pos-h: 2
        pos-w: 4
        pos-x: {{ x_start + 4 * x }}
        pos-y: {{ y_start + 24 + y*2 }}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    rl-gsi-dv-ball-location-{{x}}-{{y}}-text:
      data: com/rocketleague/gsi/extra/ball/loc_percent_text/{{x}}/{{y}}
      mode: postfix-percent-sign
      style:
        bg: clear
        display: show
        pos-h: 2
        pos-w: 4
        pos-x: {{ x_start + 4 * x }}
        pos-y: {{ y_start + 24 + y*2 }}
        text-align: center
        text-color: white
        text-size: _4-3
        text-style: bold

{% endfor %}
{% endfor %}

  data:
    com/rocketleague/charts:
{% for stat in ['pressure', 'possession', 'boost_advantage'] %}
      chart-{{stat}}: ""
      chart-{{stat}}-parameters:
        title: {{stat}}
        axis:
          x:
            show: false
          y: 
            show: false
        team-colors:
          0: data/com/rocketleague/gsi/extra/teams/0/color_primary/light
          1: data/com/rocketleague/gsi/extra/teams/1/color_primary/light
        x-data: data/com/rocketleague/gsi/extra/graph/time
        y-data: data/com/rocketleague/gsi/extra/graph/{{stat}}
{% endfor %}

  layer:
    rl-gsi-dv-score: 
      components: rl-gsi-dv-team0-score,rl-gsi-dv-team1-score,rl-gsi-dv-clock
      display: show
      aspect: 16x9-sm
    rl-gsi-dv-match-stats: 
      components: rl-gsi-dv-match-stats-header,{% for stat in ['goals', 'shots', 'saves', 'demos'] %}rl-gsi-dv-match-stats-{{stat}}-label,{% for team in [0,1] %}rl-gsi-dv-team{{team}}-{{stat}},{% endfor %}{% endfor %}
      display: show
      aspect: 16x9-sm
{% for stat in ['pressure', 'possession', 'boost_advantage'] %}
    rl-gsi-dv-{{stat}}: 
      components: rl-gsi-dv-{{stat}}-label,{% for team in [0,1] %}rl-gsi-dv-{{stat}}-team{{team}},rl-gsi-dv-{{stat}}-team{{team}}-name,rl-gsi-dv-{{stat}}-team{{team}}-label,rl-gsi-dv-{{stat}}-meaning,rl-gsi-dv-chart-{{stat}},{% endfor %}
      display: show
      aspect: 16x9-sm
{% endfor %}
    rl-gsi-dv-possession-location:
      components: rl-gsi-dv-possession-location-label,{% for team in [0,1] %}{% for x in [0,1,2] %}{% for y in [0,1,2] %}rl-gsi-dv-possession-location-team{{team}}-{{x}}-{{y}},rl-gsi-dv-possession-location-team{{team}}-{{x}}-{{y}}-text,{%endfor%}{%endfor%}{%endfor%}
      display: hide
      aspect: 16x9-sm
    rl-gsi-dv-ball-location:
      components: rl-gsi-dv-ball-location-label,{% for x in [0,1,2] %}{% for y in [0,1,2] %}rl-gsi-dv-ball-location-{{x}}-{{y}},rl-gsi-dv-ball-location-{{x}}-{{y}}-text,{%endfor%}{%endfor%}
      display: hide
      aspect: 16x9-sm
