header:
  version: 14.0.0
init:
  component:
{% set stat_types = ['possession', 'pressure', 'boost_advantage']%}
{% for stat_type in stat_types %}
    rocketleague-gsi-home-{{ stat_type }}:
      data: com/rocketleague/gsi/extra/teams/0/{{ stat_type }}/time_100
      mode: rl-boost-total-home
      style:
        bg: black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 1
        skew: none
        text-align: center
        display: show
        pos-x: 19
        pos-w: 8
        pos-y: 2
        pos-h: 1
        text-size: 1
    rocketleague-gsi-home-{{ stat_type }}-text:
      data: com/rocketleague/gsi/extra/teams/0/{{ stat_type }}/time_percent_text
      mode: postfix-percent-sign
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        text-align: right
        display: show
        pos-x: 19
        pos-w: 8
        pos-y: 2
        pos-h: 1
        text-size: 1
    rocketleague-gsi-away-{{ stat_type }}:
      data: com/rocketleague/gsi/extra/teams/1/{{ stat_type }}/time_100
      mode: rl-boost-total-away
      style:
        bg: black
        text-color: white
        text-style: bold
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        text-align: center
        display: show
        pos-x: 19
        pos-w: 8
        pos-y: 3
        pos-h: 1
        text-size: 1
    rocketleague-gsi-away-{{ stat_type }}-text:
      data: com/rocketleague/gsi/extra/teams/1/{{ stat_type }}/time_percent_text
      mode: postfix-percent-sign
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        text-align: right
        display: show
        pos-x: 19
        pos-w: 8
        pos-y: 3
        pos-h: 1
        text-size: 1
    rocketleague-gsi-{{ stat_type }}-label:
      data: com/rocketleague/text/label/team-{{ stat_type }}
      mode: raw
      style:
        bg: dark-violet
        text-color: white
        text-style: bold
        skew: none
        text-align: center
        border-top-left-radius: 0
        border-top-right-radius: 0
        display: show
        pos-x: 16
        pos-w: 3
        pos-y: 2
        pos-h: 2
        text-size: "_2-3"
        white-space: normal
    rocketleague-gsi-{{ stat_type }}-label-meaning:
      data: com/rocketleague/text/label/team-{{ stat_type }}-meaning
      mode: raw
      style:
        bg: dark-violet
        text-color: white
        text-style: bold
        skew: none
        text-align: center
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        display: show
        pos-x: 16
        pos-w: 11
        pos-y: 4
        pos-h: "_5-top"
        text-size: "_5-no-pad"
    rocketleague-gsi-{{ stat_type }}-label-icon:
      data: com/rocketleague/text/label/team-{{ stat_type }}-icon
      mode: icon-font
      style:
        bg: black
        text-color: white
        text-style: bold
        skew: none
        text-align: center
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        display: show
        pos-x: 15
        pos-w: 1
        pos-y: 2
        pos-h: 2
        text-size: "1-pad"
{% endfor %}
  layer:
{% for stat_type in stat_types %}
    rocketleague-gsi-{{ stat_type }}:
      components: rocketleague-gsi-home-{{ stat_type }},rocketleague-gsi-away-{{ stat_type }},rocketleague-gsi-home-{{ stat_type }}-text,rocketleague-gsi-away-{{ stat_type }}-text,rocketleague-gsi-{{ stat_type }}-label,rocketleague-gsi-{{ stat_type }}-label-meaning,rocketleague-gsi-{{ stat_type }}-label-icon
      display: show
      aspect: 1x1
      aspect-pos: left
{% endfor %}
