header:
  version: 14.0.0
init:
  component:
{% set num_display = {"completed": 3, "next": 3} %}
{% set title_color = {"completed": "blue", "next": "red"} %}
{% set start_locs_x = {"completed": 2, "next": 2} %}
{% set start_locs_y = {"completed": 4, "next": 18} %}
{% set width = {"completed": 12, "next": 12} %}
{% set score_margin = {"completed": 0, "next": 0} %}

{% for type in num_display.keys() %}
    smashgg-monitored-{{type}}-title:
      data: gg/smash/smashgg/labels/state/{{type}}
      style:
        bg: {{ title_color[type] }}
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        skew: none
        display: show
        pos-x: {{start_locs_x[type] - 0}}
        pos-w: {{ width[type] - 0 }}
        pos-y: {{start_locs_y[type] - 2}}
        pos-h: 1
        text-size: 1
        text-align: center
{% for slot in range(0, num_display[type]) %}
    smashgg-monitored-{{type}}-slot-{{slot}}-title:
      data: gg/smash/smashgg/monitored_phase/sets/cycle/{{type}}/{{slot}}/round_name
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{start_locs_x[type] + (score_margin[type])}}
        pos-w: {{ width[type] - (score_margin[type] * 2) }}
        pos-y: {{start_locs_y[type] + (slot * 4) + 0}}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
{% for player in range(0, 2) %}
    smashgg-monitored-{{type}}-slot-{{slot}}-p{{player + 1}}-seed:
      data: gg/smash/smashgg/monitored_phase/sets/cycle/{{type}}/{{slot}}/p{{player + 1}}/seed_str
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{start_locs_x[type] + (score_margin[type])}}
        pos-w: 1
        pos-y: {{start_locs_y[type] + (slot * 4) + player + 1}}
        pos-h: 1
        text-size: _5
        text-align: center
    smashgg-monitored-{{type}}-slot-{{slot}}-p{{player + 1}}-name:
      data: gg/smash/smashgg/monitored_phase/sets/cycle/{{type}}/{{slot}}/p{{player + 1}}/name
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{start_locs_x[type] + (score_margin[type]) + 1}}
        pos-w: {{width[type] - (score_margin[type] * 2) - 2 }}
        pos-y: {{start_locs_y[type] + (slot * 4) + player + 1}}
        pos-h: 1
        text-size: 1
        text-align: left
    smashgg-monitored-{{type}}-slot-{{slot}}-p{{player + 1}}-score:
      data: gg/smash/smashgg/monitored_phase/sets/cycle/{{type}}/{{slot}}/p{{player + 1}}/score
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: {{ player }}
        skew: none
        display: show
        pos-x: {{start_locs_x[type] + width[type] - (score_margin[type]) - 1 }}
        pos-w: 1
        pos-y: {{start_locs_y[type] + (slot * 4) + player + 1}}
        pos-h: 1
        text-size: 1
        text-align: center
{% endfor %}
    smashgg-monitored-{{type}}-slot-{{slot}}-state:
      data: gg/smash/smashgg/monitored_phase/sets/cycle/{{type}}/{{slot}}/state
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        skew: none
        display: show
        pos-x: {{start_locs_x[type] + (score_margin[type])}}
        pos-w: 3
        pos-y: {{start_locs_y[type] + (slot * 4) + 3}}
        pos-h: "_5-top"
        text-size: "_5-no-pad"
        text-align: left
{% endfor %}
{% endfor %}
    smashgg-monitored-bg:
      data: gg/smash/smashgg/monitored_phase/blank
      style:
        bg: 50-black-transparent-to-clear-right
        text-color: white
        text-style: bold
        skew: none
        display: show
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        pos-x: 1
        pos-w: 15
        pos-y: 1
        pos-h: 36
        text-size: 1
        text-align: center
  data:
    gg/smash/smashgg/labels/state:
      completed: "Completed"
      upcoming: "In Progress/Upcoming"
      next: "In Progress/Upcoming"
      stream: "Next on Stream"
  layer:
    smashgg-monitored-layer:
      components: smashgg-monitored-bg,{% for type in num_display.keys() %}smashgg-monitored-{{type}}-title,{% for slot in range(0, num_display[type]) %}smashgg-monitored-{{type}}-slot-{{slot}}-title,{% for player in range(0, 2) %}smashgg-monitored-{{type}}-slot-{{slot}}-p{{player + 1}}-seed,smashgg-monitored-{{type}}-slot-{{slot}}-p{{player + 1}}-name,smashgg-monitored-{{type}}-slot-{{slot}}-p{{player + 1}}-score,{% endfor %}smashgg-monitored-{{type}}-slot-{{slot}}-state,{% endfor %}{% endfor %}
      display: show
      aspect: 16x9-sm
  overlay:
    smashgg-monitored:
      display: show
      aspect: 16x9-sm
      layers: smashgg-monitored-layer
