header:
  version: 14.0.0
init:
  component:
    indycar-tc-flag-state:
      data: com/indycar/ts-raw/heartbeat/currentFlag
      style:
        bg: black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 2
        pos-w: 5
        pos-y: 2
        pos-h: 1
    indycar-tc-time-remain:
      data: com/indycar/ts/lap_info/lap_info
      style:
        bg: black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 2
        pos-w: 5
        pos-y: 3
        pos-h: 1
    indycar-tc-messages:
      data: com/indycar/ts-raw/message/msg
      style:
        bg: black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 7
        pos-w: 31
        pos-y: 2
        pos-h: 2
{% for pos in range(1,7) %}
    indycar-tc-pos-{{pos}}-rank:
      data: com/indycar/ts-raw/overallRank/{{pos}}/rank
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ ((pos-1) * 6) + 2}}
        pos-w: 1
        pos-y: 4
        pos-h: 1
    indycar-tc-pos-{{pos}}-name:
      data: com/indycar/ts-raw/overallRank/{{pos}}/lastName
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ ((pos-1) * 6) + 3}}
        pos-w: 5
        pos-y: 4
        pos-h: 1
{% endfor %}
  layer:
    indycar-header-livetv:
      components: indycar-tc-flag-state,indycar-tc-time-remain,indycar-tc-messages
      display: fade-in
      aspect: 16x9
    indycar-pos-livetv:
      components: {% for pos in range(1,7) %}indycar-tc-pos-{{pos}}-rank,indycar-tc-pos-{{pos}}-name,{% endfor %}
      display: fade-in
      aspect: 16x9
  overlay:
    indycar-livetv:
      layers: indycar-header-livetv,indycar-pos-livetv
      display: fade-in
      aspect: 16x9