header:
  version: 14.0.0
init:
  component:
{% for row in range(1,4) %}
{% for pos in range(1,13) %}
    indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-rank:
      data: com/indycar/ts-raw/true_order/{{pos + ((row-1) * 12)}}/true_order
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 3 }}
        pos-w: 1
        pos-y: {{pos + 4}}
        pos-h: 1
    indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-badge:
      data: com/indycar/ts-raw/true_order/{{pos + ((row-1) * 12)}}/badge
      mode: image
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 4 }}
        pos-w: 1
        pos-y: {{pos + 4}}
        pos-h: 1
    indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-carnum:
      data: com/indycar/ts-raw/true_order/{{pos + ((row-1) * 12)}}/carNumber
      mode: text
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 5 }}
        pos-w: 1
        pos-y: {{pos + 4}}
        pos-h: 1
    indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-name:
      data: com/indycar/ts-raw/true_order/{{pos + ((row-1) * 12)}}/lastName
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 6 }}
        pos-w: 7
        pos-y: {{pos + 4}}
        pos-h: 1
    indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-speed:
      data: com/indycar/ts-raw/true_order/{{pos + ((row-1) * 12)}}/averageSpeed
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: {{ (row-1) * 15 + 13 }}
        pos-w: 4
        pos-y: {{pos + 4}}
        pos-h: 1
{% endfor %}
{% endfor %}

  layer:
{% for row in range(1,4) %}
    indycar-indy500-quali-col-{{row}}:
      components: {% for pos in range(1,13) %}indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-rank,indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-badge,indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-carnum,indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-name,indycar-indy500-quali-pos-{{pos + ((row-1) * 12)}}-speed,{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
