header:
  version: 14.0.0
init:
  component:
    indycar-indy500-on-track-header:
      data: com/indycar/indy500/on-track
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 21
        pos-y: 18
        pos-h: 1
    indycar-indy500-on-track-pos:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/rank
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 1
        pos-y: 19
        pos-h: 1
    indycar-indy500-on-track-badge:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/badge
      mode: image
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 4
        pos-w: 1
        pos-y: 19
        pos-h: 1
    indycar-indy500-on-track-carnum:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/carNumber
      mode: text
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: "_2-3"
        text-style: bold
        display: show
        pos-x: 5
        pos-w: 1
        pos-y: 19
        pos-h: 1
    indycar-indy500-on-track-name:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/lastName
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 6
        pos-w: 6
        pos-y: 19
        pos-h: 1
    indycar-indy500-on-track-team:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/team
      style:
        bg: 70-black
        text-align: left
        text-color: white
        text-size: _2-3
        text-style: bold
        display: show
        pos-x: 12
        pos-w: 12
        pos-y: 19
        pos-h: 1
    indycar-indy500-on-track-qualy-header:
      data: com/indycar/indy500/qualifying
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 10
        pos-y: 20
        pos-h: 1
    indycar-indy500-on-track-qualy-warmup-label:
      data: com/indycar/indy500/laps/warmup
      style:
        bg: 70-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 6
        pos-y: 21
        pos-h: 1
    indycar-indy500-on-track-qualy-warmup:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/lastWarmUpQualMPH
      style:
        bg: 60-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 21
        pos-h: 1
    indycar-indy500-on-track-qualy-lap1-label:
      data: com/indycar/indy500/laps/lap1
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 6
        pos-y: 22
        pos-h: 1
    indycar-indy500-on-track-qualy-lap1:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/lap1QualMPH
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 22
        pos-h: 1
    indycar-indy500-on-track-qualy-lap2-label:
      data: com/indycar/indy500/laps/lap2
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 6
        pos-y: 23
        pos-h: 1
    indycar-indy500-on-track-qualy-lap2:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/lap2QualMPH
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 23
        pos-h: 1
    indycar-indy500-on-track-qualy-lap3-label:
      data: com/indycar/indy500/laps/lap3
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 6
        pos-y: 24
        pos-h: 1
    indycar-indy500-on-track-qualy-lap3:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/lap3QualMPH
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 24
        pos-h: 1
    indycar-indy500-on-track-qualy-lap4-label:
      data: com/indycar/indy500/laps/lap4
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 6
        pos-y: 25
        pos-h: 1
    indycar-indy500-on-track-qualy-lap4:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/lap4QualMPH
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 25
        pos-h: 1
    indycar-indy500-on-track-qualy-average-label:
      data: com/indycar/indy500/laps/average
      style:
        bg: 90-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 3
        pos-w: 6
        pos-y: 26
        pos-h: 1
    indycar-indy500-on-track-qualy-average:
      data: com/indycar/ts-raw/overallResults/{{ontrack}}/averageSpeed
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 9
        pos-w: 4
        pos-y: 26
        pos-h: 1
    indycar-indy500-on-track-telemetry-header:
      data: com/indycar/indy500/telemetry/label
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 10
        pos-y: 20
        pos-h: 1
    indycar-indy500-on-track-telemetry-steering-label:
      data: com/indycar/indy500/telemetry/steering
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 6
        pos-y: 21
        pos-h: 1
    indycar-indy500-on-track-telemetry-steering-icon:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/steering
      mode: steering
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 2
        pos-y: 21
        pos-h: 1
    indycar-indy500-on-track-telemetry-steering:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/steering
      mode: steering-text
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 22
        pos-w: 2
        pos-y: 21
        pos-h: 1
    indycar-indy500-on-track-telemetry-throttle-label:
      data: com/indycar/indy500/telemetry/throttle
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 6
        pos-y: 22
        pos-h: 1
    indycar-indy500-on-track-telemetry-throttle:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/throttle
      mode: length-bar-100-green
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 22
        pos-h: 1
    indycar-indy500-on-track-telemetry-break-label:
      data: com/indycar/indy500/telemetry/break
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 6
        pos-y: 23
        pos-h: 1
    indycar-indy500-on-track-telemetry-break:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/breakPercentage
      mode: length-bar-100-red
      style:
        bg: 70-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 23
        pos-h: 1
    indycar-indy500-on-track-telemetry-rpm-label:
      data: com/indycar/indy500/telemetry/rpm
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 6
        pos-y: 24
        pos-h: 1
    indycar-indy500-on-track-telemetry-rpm:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/engineSpeed
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 24
        pos-h: 1
    indycar-indy500-on-track-telemetry-gear-label:
      data: com/indycar/indy500/telemetry/gear
      style:
        bg: 80-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 6
        pos-y: 25
        pos-h: 1
    indycar-indy500-on-track-telemetry-gear:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/gear
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 25
        pos-h: 1
    indycar-indy500-on-track-telemetry-speed-label:
      data: com/indycar/indy500/telemetry/speed
      style:
        bg: 90-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 14
        pos-w: 6
        pos-y: 26
        pos-h: 1
    indycar-indy500-on-track-telemetry-speed:
      data: com/indycar/ts-raw/telemetryMessages/{{ontrack}}/vehicleSpeed
      mode: round
      style:
        bg: 80-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 20
        pos-w: 4
        pos-y: 26
        pos-h: 1
  data:
    com/indycar/indy500/on-track: "ON TRACK"
    com/indycar/indy500/qualifying: "Qualifying"
    com/indycar/indy500/telemetry/label: "Telemetry"
    com/indycar/indy500/telemetry/steering: "Steering"
    com/indycar/indy500/telemetry/throttle: "Throttle"
    com/indycar/indy500/telemetry/break: "Break"
    com/indycar/indy500/telemetry/rpm: "RPM"
    com/indycar/indy500/telemetry/gear: "Gear"
    com/indycar/indy500/telemetry/speed: "MPH"
    com/indycar/indy500/laps/warmup: "Warmup"
    com/indycar/indy500/laps/lap1: "Lap 1"
    com/indycar/indy500/laps/lap2: "Lap 2"
    com/indycar/indy500/laps/lap3: "Lap 3"
    com/indycar/indy500/laps/lap4: "Lap 4"
    com/indycar/indy500/laps/average: "Average"
  layer:
    indy-500-on-track-header:
      components: indycar-indy500-on-track-header,indycar-indy500-on-track-pos,indycar-indy500-on-track-badge,indycar-indy500-on-track-carnum,indycar-indy500-on-track-name,indycar-indy500-on-track-team
      display: fade-in
      aspect: 16x9
    indy-500-on-track-qualifying:
      components: indycar-indy500-on-track-qualy-header,indycar-indy500-on-track-qualy-warmup-label,indycar-indy500-on-track-qualy-warmup,indycar-indy500-on-track-qualy-lap1-label,indycar-indy500-on-track-qualy-lap1,indycar-indy500-on-track-qualy-lap2-label,indycar-indy500-on-track-qualy-lap2,indycar-indy500-on-track-qualy-lap3-label,indycar-indy500-on-track-qualy-lap3,indycar-indy500-on-track-qualy-lap4-label,indycar-indy500-on-track-qualy-lap4,indycar-indy500-on-track-qualy-average-label,indycar-indy500-on-track-qualy-average
      display: fade-in
      aspect: 16x9
    indy-500-on-track-telemetry:
      components: indycar-indy500-on-track-telemetry-header,indycar-indy500-on-track-telemetry-steering-label,indycar-indy500-on-track-telemetry-steering-icon,indycar-indy500-on-track-telemetry-steering,indycar-indy500-on-track-telemetry-throttle-label,indycar-indy500-on-track-telemetry-throttle,indycar-indy500-on-track-telemetry-break-label,indycar-indy500-on-track-telemetry-break,indycar-indy500-on-track-telemetry-rpm-label,indycar-indy500-on-track-telemetry-rpm,indycar-indy500-on-track-telemetry-gear-label,indycar-indy500-on-track-telemetry-gear,indycar-indy500-on-track-telemetry-speed-label,indycar-indy500-on-track-telemetry-speed
      display: fade-in
      aspect: 16x9