header:
  version: 14.0.0
init:
  component:
    indycar-tc-one-col-header-flag:
      data: com/indycar/tc/timing_results/heartbeat/currentFlag
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: "1_5-no-pad"
        text-style: bold
        display: show
        pos-x: 2
        pos-w: 6
        pos-y: 2
        pos-h: 2
        border-top-left-radius: 2
    indycar-tc-one-col-header-curr-lap:
      data: com/indycar/tc/timing_results/heartbeat/lapNumberDisplay
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: "1_5-no-pad"
        text-style: bold
        display: show
        pos-x: 8
        pos-w: 3
        pos-y: 2
        pos-h: 2
    indycar-tc-one-col-header-total-lap:
      data: com/indycar/tc/timing_results/heartbeat/totalLaps
      style:
        bg: 100-black
        text-align: center
        text-color: white
        text-size: "1_5-no-pad"
        text-style: bold
        display: show
        pos-x: 11
        pos-w: 3
        pos-y: 2
        pos-h: 2
        border-top-right-radius: 2
    indycar-tc-one-col-header-lap-space:
      data: com/indycar/text/spacer
      style:
        bg: clear
        text-align: center
        text-color: white
        text-size: "1_5-no-pad"
        text-style: bold
        display: show
        pos-x: 8
        pos-w: 6
        pos-y: 2
        pos-h: 2
    indycar-tc-one-col-header-comment:
      data: com/indycar/tc/timing_results/heartbeat/Comment
      style:
        bg: 100-black
        text-align: left
        text-color: white
        text-size: "1-pad-1_5"
        text-style: bold
        display: show
        pos-x: 2
        pos-w: 12
        pos-y: 30
        pos-h: 5
        white-space: normal
        border-bottom-left-radius: 2
        border-bottom-right-radius: 2
    indycar-tc-one-col-header-gap:
      data: com/indycar/text/gap
      style:
        bg: clear
        text-align: center
        text-color: white
        text-size: "_2-3-pad-1_5"
        text-style: bold
        display: show
        pos-x: 10
        pos-w: 4
        pos-y: 3
        pos-h: 1
{% for pos in range(1,27) %}
    indycar-tc-one-col-pos-{{pos}}-rank:
      data: com/indycar/tc_rank/{{pos}}/rank
      style:
        bg: 90-black
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 2
        pos-w: 1
        pos-y: {{pos + 3}}
        pos-h: 1
    indycar-tc-one-col-pos-{{pos}}-carnum:
      data: com/indycar/tc_rank_extra/{{pos}}/endplatesmall
      mode: image
      style:
        bg: 80-black
        text-align: center
        text-color: white
        text-size: "1-no-pad"
        text-style: bold
        image-correction: "off"
        display: show
        pos-x: 3
        pos-w: 1
        pos-y: {{pos + 3}}
        pos-h: 1
    indycar-tc-one-col-pos-{{pos}}-name:
      data: com/indycar/tc_rank/{{pos}}/lastName
      style:
        bg: 75-black
        text-align: left
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 4
        pos-w: 6
        pos-y: {{pos + 3}}
        pos-h: 1
    indycar-tc-one-col-pos-{{pos}}-gap:
      data: com/indycar/tc_rank/{{pos}}/gap
      style:
        bg: 70-black
        text-align: right
        text-color: white
        text-size: 1
        text-style: bold
        display: show
        pos-x: 10
        pos-w: 4
        pos-y: {{pos + 3}}
        pos-h: 1
        text-font: monospace
{% endfor %}
  data:
    com/indycar:
      text:
        spacer: "/"
        gap: GAP
  layer:
    indycar-tc-one-col-header:
      components: indycar-tc-one-col-header-flag,indycar-tc-one-col-header-curr-lap,indycar-tc-one-col-header-total-lap,indycar-tc-one-col-header-lap-space,indycar-tc-one-col-header-comment
      display: fade-in
      aspect: 16x9-sm
    indycar-tc-one-col-driver:
      components: {% for pos in range(1,27) %}indycar-tc-one-col-pos-{{pos}}-rank,indycar-tc-one-col-pos-{{pos}}-carnum,indycar-tc-one-col-pos-{{pos}}-name,{% endfor %}
      display: fade-in
      aspect: 16x9-sm
    indycar-tc-one-col-gap:
      components: indycar-tc-one-col-header-gap,{% for pos in range(1,27) %}indycar-tc-one-col-pos-{{pos}}-gap,{% endfor %}
      display: fade-in
      aspect: 16x9-sm
  overlay:
    indycar-tc-one-col:
      layers: indycar-tc-one-col-header,indycar-tc-one-col-driver,indycar-tc-one-col-gap
      display: fade-in
      aspect: 16x9