header:
  version: 14.0.0
{% set keyboard = ['QWERTYUIOP' | reverse | list, 'ASDFGHJKL' | reverse | list, 'ZXCVBNM' | reverse | list] %}
{% set start_pos = 64 %}
{% set width = 10 %}

init:
  component:
    twitch-wordle-rules-1:
      data: tv/twitch/minigames/wordle/rules-1
      mode: markdown
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ start_pos - width }}
        pos-w: 10
        pos-y: 3
        pos-h: 1
        text-size: "1"
        text-align: center
    twitch-wordle-rules-2:
      data: tv/twitch/minigames/wordle/rules-2
      mode: markdown
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ start_pos - width }}
        pos-w: 10
        pos-y: 4
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    twitch-wordle-rules-3:
      data: tv/twitch/minigames/wordle/rules-3
      mode: markdown
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 1
        border-bottom-right-radius: 1
        skew: none
        display: show
        pos-x: {{ start_pos - width }}
        pos-w: 10
        pos-y: 5
        pos-h: 1
        text-size: "_2-3"
        text-align: center
{% for row in keyboard %}
{% set outerloop = loop %}
{% for character in row %}
    twitch-wordle-guessed-keyboard-{{character}}:
      data: tv/twitch/minigames/wordle/characters/{{character}}
      custom-style: tv/twitch/minigames/wordle/keyboard/{{character}}
      mode: text
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: {{ 1 if outerloop.first and loop.last else 0 }}
        border-top-right-radius: {{ 1 if outerloop.first and loop.first else 0 }}
        border-bottom-left-radius: {{ 1 if loop.last else 0 }}
        border-bottom-right-radius: {{ 1 if outerloop.last and loop.first else 0 }}
        skew: none
        display: show
        pos-x: {{ start_pos - loop.index }}
        pos-w: 1
        pos-y: {{ 10 + outerloop.index0 }}
        pos-h: 1
        text-size: "1"
        text-align: center
{% endfor %}
{% endfor %}
{% for guess_row in range(0,10) %}
{% set outerloop = loop %}
{% for guess_char in range(0,5) %}
    twitch-wordle-guessed-guess-{{guess_row}}-{{guess_char}}:
      data: tv/twitch/minigames/wordle/guesses/{{guess_row}}/{{guess_char}}/l
      custom-style: tv/twitch/minigames/wordle/guesses/{{guess_row}}/{{guess_char}}/c
      mode: text
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: {{ 1 if outerloop.first and loop.first else 0 }}
        border-top-right-radius: {{ 1 if outerloop.first and loop.last else 0 }}
        border-bottom-left-radius: {{ 1 if outerloop.last and loop.first else 0 }}
        border-bottom-right-radius: {{ 1 if outerloop.last and loop.last else 0 }}
        skew: none
        display: show
        pos-x: {{ start_pos - 5 + guess_char }}
        pos-w: 1
        pos-y: {{ 14 + guess_row }}
        pos-h: 1
        text-size: "1"
        text-align: center
{% endfor %}
{% endfor %}
{% for guess_char in range(0,5) %}
    twitch-wordle-guessed-final-guess-{{guess_char}}:
      data: tv/twitch/minigames/wordle/final_guess/{{guess_char}}/l
      custom-style: tv/twitch/minigames/wordle/final_guess/{{guess_char}}/c
      mode: text
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        border-top-left-radius: {{ 1 if loop.first else 0 }}
        border-top-right-radius: {{ 1 if loop.last else 0 }}
        border-bottom-left-radius: {{ 1 if loop.first else 0 }}
        border-bottom-right-radius: {{ 1 if loop.last else 0 }}
        skew: none
        display: show
        pos-x: {{ start_pos - width + (guess_char * 2) }}
        pos-w: 2
        pos-y: 7
        pos-h: 2
        text-size: "2"
        text-align: center
{% endfor %}
    twitch-wordle-bg:
      data: tv/twitch/minigames/wordle/blank
      mode: text
      style:
        bg: 50-black-transparent-to-clear-left
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 4
        border-bottom-right-radius: 0
        skew: none
        display: show
        pos-x: {{ start_pos - width - 2 }}
        pos-w: {{ width + 3 }}
        pos-y: 1
        pos-h: 36
        text-size: "1"
        text-align: center
  data:
    tv/twitch/minigames/wordle:
      rules-1: "`!guess words` to play."
      rules-2: "Same rules as the actual Wordle,"
      rules-3: "but a diffent than today's actual one!"
      characters:
{% for row in keyboard %}
{% for character in row %}
        {{ character }}: {{ character }}
{% endfor %}
{% endfor %}
  layer:
    twitch-wordle-rules:
      components: twitch-wordle-bg,twitch-wordle-rules-1,twitch-wordle-rules-2,twitch-wordle-rules-3
      display: show
      aspect: 16x9-sm
    twitch-wordle-keyboard:
      components: {% for row in keyboard %}{% for character in row %}twitch-wordle-guessed-keyboard-{{character}},{% endfor %}{% endfor %}
      display: show
      aspect: 16x9-sm
    twitch-wordle-guesses:
      components: {% for guess_row in range(0,10) %}{% for guess_char in range(0,5) %}twitch-wordle-guessed-guess-{{guess_row}}-{{guess_char}},{% endfor %}{% endfor %}
      display: show
      aspect: 16x9-sm
    twitch-wordle-final-guess:
      components: {% for guess_char in range(0,5) %}twitch-wordle-guessed-final-guess-{{guess_char}},{% endfor %}
      display: show
      aspect: 16x9-sm
  overlay:
    twitch-wordle:
      display: show
      layers: twitch-wordle-rules,twitch-wordle-keyboard,twitch-wordle-guesses,twitch-wordle-final-guess
