header:
  version: 14.0.0
{% set start_x = 5 %}
{% set start_y = 16 %}
{% set width = 40 %}
{% set maps = 5 %}
{% set map_width = width//maps %}
{% set team_display = "hide" %}

init:
  component:
{% for map in range(0, maps) %}
    osubgc-scoreboard-map-{{map + 1}}-name:
      data: edu/osu/org/osubgc/scoreboard/maps/{{map + 1}}/map
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x + map * (map_width) }}
        pos-w: {{ map_width }}
        pos-y: {{ start_y + 0 }}
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-scoreboard-map-{{map + 1}}-image:
      data: edu/osu/org/osubgc/scoreboard/maps/{{map + 1}}/map-image
      mode: image
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x + map * (map_width) }}
        pos-w: {{ map_width }}
        pos-y: {{ start_y + 2 }}
        pos-h: 4
        text-size: 1
        text-align: center
    osubgc-scoreboard-map-{{map + 1}}-status:
      data: edu/osu/org/osubgc/scoreboard/maps/{{map + 1}}/status
      mode: text
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x + map * (map_width) }}
        pos-w: {{ map_width }}
        pos-y: {{ start_y + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    osubgc-scoreboard-map-{{map + 1}}-team:
      custom-style: edu/osu/org/osubgc/scoreboard/maps/{{map + 1}}/team-style
      data: edu/osu/org/osubgc/scoreboard/maps/{{map + 1}}/team
      mode: text
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x + map * (map_width) }}
        pos-w: {{ map_width }}
        pos-y: {{ start_y + 6 }}
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-scoreboard-map-{{map + 1}}-scores-home:
      custom-style: edu/osu/org/osubgc/scoreboard/style/home-secondary
      data: edu/osu/org/osubgc/scoreboard/rounds/0{{map + 1}}/home
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x + map * (map_width) + (map_width // 4) }}
        pos-w: {{ map_width // 4 }}
        pos-y: {{ start_y + 7 }}
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-scoreboard-map-{{map + 1}}-scores-away:
      custom-style: edu/osu/org/osubgc/scoreboard/style/away-secondary
      data: edu/osu/org/osubgc/scoreboard/rounds/0{{map + 1}}/away
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x + map * (map_width) + (map_width // 2) }}
        pos-w: {{ map_width // 4 }}
        pos-y: {{ start_y + 7 }}
        pos-h: 1
        text-size: 1
        text-align: center
{% endfor %}
    osubgc-scoreboard-map-scores-bg:
      data: edu/osu/org/osubgc/scoreboard/blank
      mode: text
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: show
        pos-x: {{ start_x }}
        pos-w: {{ width }}
        pos-y: {{ start_y + 7 }}
        pos-h: 1
        text-size: 1
        text-align: center
  layer:
    osubgc-scoreboard-maps-layer:
      components: osubgc-scoreboard-map-scores-bg,{% for map in range(0, maps) %}osubgc-scoreboard-map-{{map + 1}}-name,osubgc-scoreboard-map-{{map + 1}}-image,osubgc-scoreboard-map-{{map + 1}}-status,osubgc-scoreboard-map-{{map + 1}}-team,osubgc-scoreboard-map-{{map + 1}}-scores-home,osubgc-scoreboard-map-{{map + 1}}-scores-away,{% endfor %}
      display: show
      aspect: 16x9
  overlay:
    osubgc-scoreboard-maps:
      display: show
      aspect: 16x9
      layers: osubgc-scoreboard-maps-layer
