header:
  version: 14.0.0
init:
{% set rounds = 5 %}

  component:
    osubgc-scoreboard-rounds-home-logo:
      custom-style: edu/osu/org/osubgc/scoreboard/style/home-primary
      data: edu/osu/org/osubgc/scoreboard/logo/home
      mode: image
      style:
        bg: osu-scarlet
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-bottom-left-radius: 0
        skew: none
        display: fade-in
        pos-x: 2
        pos-w: 1
        pos-y: 5
        pos-h: 1
        text-size: 1
        text-align: left
    osubgc-scoreboard-rounds-home-name:
      data: edu/osu/org/osubgc/scoreboard/name-short/home
      custom-style: edu/osu/org/osubgc/scoreboard/style/home-primary
      style:
        bg: osu-scarlet
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: 3
        pos-w: 5
        pos-y: 5
        pos-h: 1
        text-size: "_2-3"
        text-align: left
    osubgc-scoreboard-rounds-away-logo:
      custom-style: edu/osu/org/osubgc/scoreboard/style/away-primary
      data: edu/osu/org/osubgc/scoreboard/logo/away
      mode: image
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-bottom-left-radius: 1
        skew: none
        display: fade-in
        pos-x: 2
        pos-w: 1
        pos-y: 6
        pos-h: 1
        text-size: 1
        text-align: right
    osubgc-scoreboard-rounds-away-name:
      data: edu/osu/org/osubgc/scoreboard/name-short/away
      custom-style: edu/osu/org/osubgc/scoreboard/style/away-primary
      style:
        bg: grey
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: 3
        pos-w: 5
        pos-y: 6
        pos-h: 1
        text-size: "_2-3"
        text-align: left
    osubgc-scoreboard-rounds-home-score:
      custom-style: edu/osu/org/osubgc/scoreboard/style/home-secondary
      data: edu/osu/org/osubgc/scoreboard/score/home
      style:
        bg: osu-grey
        text-color: white
        text-style: bold
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: fade-in
        pos-x: 8
        pos-w: 1
        pos-y: 5
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-scoreboard-rounds-away-score:
      custom-style: edu/osu/org/osubgc/scoreboard/style/away-secondary
      data: edu/osu/org/osubgc/scoreboard/score/away
      style:
        bg: grey
        text-color: white
        text-style: bold
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: fade-in
        pos-x: 8
        pos-w: 1
        pos-y: 6
        pos-h: 1
        text-size: 1
        text-align: center
{% for round in range(1, rounds+1) %}
    osubgc-scoreboard-rounds-home-rd-{{round}}:
      data: edu/osu/org/osubgc/scoreboard/rounds/{{ '{:02d}'.format(round) }}/home
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: fade-in
        pos-x: {{round + 8}}
        pos-w: 1
        pos-y: 5
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-scoreboard-rounds-away-rd-{{round}}:
      data: edu/osu/org/osubgc/scoreboard/rounds/{{ '{:02d}'.format(round) }}/away
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: {% if loop.last %}1{% else %}0{% endif %}
        skew: none
        display: fade-in
        pos-x: {{round + 8}}
        pos-w: 1
        pos-y: 6
        pos-h: 1
        text-size: 1
        text-align: center
    osubgc-scoreboard-rounds-label-rd-{{round}}:
      data: edu/osu/org/osubgc/scoreboard/rounds/{{ '{:02d}'.format(round) }}/label
      mode: text-newline
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 0
        border-top-right-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: fade-in
        pos-x: {{round + 8}}
        pos-w: 1
        pos-y: 4
        pos-h: _5-bottom
        text-size: _5-no-pad
        text-align: center
{% endfor %}
    osubgc-scoreboard-rounds-label:
      data: edu/osu/org/osubgc/scoreboard/rounds/label
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        border-top-left-radius: 1
        border-top-right-radius: 1
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0
        skew: none
        display: fade-in
        pos-x: 9
        pos-w: {{rounds}}
        pos-y: 4
        pos-h: _5-top
        text-size: _5-no-pad
        text-align: center
  data:
    edu:
      osu:
        org:
          osubgc:
            scoreboard:
              rounds:
                label: Games
{% for round in range(1, rounds+1) %}
                "{{ '{:02d}'.format(round) }}": 
                  label: {{ round }}
{% endfor %}
  layer:
    osubgc-scoreboard-rounds-layer:
      components: osubgc-scoreboard-rounds-home-logo,osubgc-scoreboard-rounds-home-name,osubgc-scoreboard-rounds-home-score,osubgc-scoreboard-rounds-away-logo,osubgc-scoreboard-rounds-away-name,osubgc-scoreboard-rounds-away-score,osubgc-scoreboard-rounds-label
      display: fade-in
      aspect: 16x9
{% for round in range(1, rounds+1) %}
    osubgc-scoreboard-round-{{round}}:
      components: osubgc-scoreboard-rounds-home-rd-{{round}},osubgc-scoreboard-rounds-away-rd-{{round}},osubgc-scoreboard-rounds-label-rd-{{round}}
      display: fade-in
      aspect: 16x9
{% endfor %}
  overlay:
    osubgc-scoreboard-rounds:
      display: fade-in
      aspect: 16x9
      layers: {% for round in range(1, rounds+1) %}osubgc-scoreboard-round-{{round}},{% endfor %}osubgc-scoreboard-rounds-layer
