header:
  version: 14.0.0
init:
  component:
{% for number in range(1,5) %}
    osubgc-sg-nametag-guest-{{number}}-logo:
      data: edu/osu/org/osubgc/scarlet-and-games/names/{{number}}/logo
      mode: image
      style:
        bg: black
        text-color: white
        text-style: bold
        display: show
        pos-x: 2
        pos-w: 3
        pos-y: 23
        pos-h: 3
        text-size: 3
        text-align: center
    osubgc-sg-nametag-guest-{{number}}-bg:
      data: edu/osu/org/osubgc/scarlet-and-games/blank
      custom-style: edu/osu/org/osubgc/scarlet-and-games/nametag/bg-style
      style:
        bg: clear
        display: show
        border-top-right-radius: 5
        pos-x: 5
        pos-w: 16
        pos-y: 23
        pos-h: 3
    osubgc-sg-nametag-guest-{{number}}-name:
      data: edu/osu/org/osubgc/scarlet-and-games/names/{{number}}/name
      style:
        bg: clear
        text-color: white
        text-style: bold
        display: show
        pos-x: 5
        pos-w: 16
        pos-y: 23
        pos-h: 2
        text-size: 2
        text-align: left
    osubgc-sg-nametag-guest-{{number}}-info:
      data: edu/osu/org/osubgc/scarlet-and-games/names/{{number}}/info
      style:
        bg: clear
        text-color: white
        text-style: bold
        display: show
        pos-x: 5
        pos-w: 16
        pos-y: 25
        pos-h: 1
        text-size: 1
        text-align: left
{% endfor %}
  data:
    edu/osu/org/osubgc:
      scarlet-and-games:
        blank: 
        nametag:
          bg-style: "background-image: url(/static/local/osubgc-sg-name-bg.svg); background-size: 100% 100%;"
        logo:
          mini: /static/local/osubgc-sg-logo-mini.svg
  layer:
{% for number in range(1,5) %}
    osubgc-sg-nametag-guest-{{number}}-layer:
      components: osubgc-sg-nametag-guest-{{number}}-logo,osubgc-sg-nametag-guest-{{number}}-bg,osubgc-sg-nametag-guest-{{number}}-name,osubgc-sg-nametag-guest-{{number}}-info
      display: show
      aspect: 16x9
{% endfor %}
  overlay:
{% for number in range(1,5) %}
    osubgc-sg-nametag-guest-{{number}}:
      display: show
      aspect: 16x9
      layers: osubgc-sg-nametag-guest-{{number}}-layer
{% endfor %}
