<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="/static/local/smpte-icon.png" class="d-inline-block align-top rounded-lg" width="32" height="32" alt="" style="image-rendering: pixelated;">
        Stream Graphics
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <button class="btn btn-outline-success" onclick="location.reload(true)" type="button">
            <i class="fas fa-fw fa-sync-alt"></i> Refresh
        </button>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-home"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/mix_list">
                    <i class="fas fa-fw fa-plus-square"></i> Mixes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/overlay_list">
                    <i class="fas fa-fw fa-tv-retro"></i> Overlays
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restore_list">
                    <i class="fas fa-fw fa-save"></i> Restore
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/script_list">
                    <i class="fas fa-fw fa-code"></i> Scripting
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-edit"></i> Editor Templates
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for editor in editors %}
                    <a class="dropdown-item" href="/editor/{{editor.link}}">
                        {{editor.name}}
                    </a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if current_user.is_authenticated %}
                <a class="nav-link link-primary" href="/user">
                    <i class="fas fa-fw fa-user"></i> {{ current_user.username }}
                </a>
                <a class="nav-link link-danger" href="/logout">
                    <i class="fas fa-fw fa-sign-out"></i> Logout
                </a>
            {% else %}
                <a class="nav-link link-success" href="/login">
                    <i class="fas fa-fw fa-sign-in"></i> Login
                </a>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
