header:
  version: 14.0.0

{% set fonts = ["normal", "normal-sc", "noto-sans", "noto-sans-sc", "noto-emoji-bw", "monospace", "roboto-mono", "amatic", "atomic-age", "audiowide", "black-ops", "bungee", "creepster", "graduate", "kumar", "metal", "orbitron", "press-start", "space-mono", "squada", "dseg", "dseg7", "dseg14", "minecraft"] %}
init:
  component:
    {% for font in fonts %}
    enzanki-ars-font-test-{{font}}:
      data: io/github/enzanki-ars/font-test/text
      style:
        bg: black
        display: show
        pos-x: 2
        pos-w: 20
        pos-y: {{ 2 + loop.index0 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
        text-font: "{{font}}"
    {% endfor %}
  layer:
    enzanki-ars-font-test-layer:
      components: {% for font in fonts %}enzanki-ars-font-test-{{font}},{% endfor %}
      aspect: 16x9
  overlay:
    enzanki-ars-font-test:
      layers: enzanki-ars-font-test-layer
  data:
    io/github/enzanki-ars/font-test:
      text: The quick brown fox jumps over the lazy dog.














