header:
  version: 14.0.0
init:
  component:
{% for row in range(1,4) %}
    enzanki-ars-template-test-{{row}}:
      data: io/github/enzanki-ars/row/{{row}}
      style:
        bg: black
        display: show
        pos-x: 2
        pos-w: 5
        pos-y: {{ row + 2 }}
        pos-h: 1
        text-color: white
        text-size: 1
        text-style: bold
{% endfor %}
  data:
    io:
      github:
        enzanki-ars:
          row:
{% for row in range(1,4) %}
            {{row}}: Row {{row}}
{% endfor %}
  layer:
    enzanki-ars-template-test-layer:
      components: {% for row in range(1,4) %}enzanki-ars-template-test-{{row}}{% if not loop.last %},{%endif%}{% endfor %}
      aspect: 16x9
  overlay:
    enzanki-ars-template-test:
      layers: enzanki-ars-template-test-layer
