header:
  version: 14.0.0
{% set sides = {'left': {'x': 2, 'slots': [1,2,3,4,5]}, 'right': {'x': 20, 'slots': [6,7,8,9,0]}} %}
{% set start_y = 10 %}
init:
  component:
{% for side_name, side_data in sides.items() %}
    csgo-gsi-kda-label-{{side_name}}-kills-icon:
      data: net/counter-strike/text/kills-icon
      mode: icon-font
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-left-radius: 1
        border-bottom-left-radius: 0
        pos-h: 1
        pos-w: 2
        pos-x: {{side_data['x'] + 10}}
        pos-y: {{start_y + 0}}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    csgo-gsi-kda-label-{{side_name}}-assists-icon:
      data: net/counter-strike/text/assists-icon
      mode: icon-font
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        pos-h: 1
        pos-w: 2
        pos-x: {{side_data['x'] + 12}}
        pos-y: {{start_y + 0}}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    csgo-gsi-kda-label-{{side_name}}-deaths-icon:
      data: net/counter-strike/text/deaths-icon
      mode: icon-font
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-right-radius: 1
        border-bottom-right-radius: 0
        pos-h: 1
        pos-w: 2
        pos-x: {{side_data['x'] + 14}}
        pos-y: {{start_y + 0}}
        text-align: center
        text-color: white
        text-size: 1
        text-style: bold
    csgo-gsi-kda-label-{{side_name}}-kills:
      data: net/counter-strike/text/kills-full
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        pos-h: 1
        pos-w: 2
        pos-x: {{side_data['x'] + 10}}
        pos-y: {{start_y + 1}}
        text-align: center
        text-color: white
        text-size: _5
        text-style: bold
    csgo-gsi-kda-label-{{side_name}}-assists:
      data: net/counter-strike/text/assists-full
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        pos-h: 1
        pos-w: 2
        pos-x: {{side_data['x'] + 12}}
        pos-y: {{start_y + 1}}
        text-align: center
        text-color: white
        text-size: _5
        text-style: bold
    csgo-gsi-kda-label-{{side_name}}-deaths:
      data: net/counter-strike/text/deaths-full
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        pos-h: 1
        pos-w: 2
        pos-x: {{side_data['x'] + 14}}
        pos-y: {{start_y + 1}}
        text-align: center
        text-color: white
        text-size: _5
        text-style: bold
{% for slot in side_data['slots'] %}
    csgo-gsi-slot-{{slot}}-kda-name:
      data: net/counter-strike/game-state/players/slot_{{slot}}/name
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-left-radius: {{ 1 if loop.first else 0 }}
        border-bottom-left-radius: {{ 1 if loop.last else 0 }}
        pos-h: 2
        pos-w: 10
        pos-x: {{side_data['x'] + 0}}
        pos-y: {{loop.index0 * 2 + start_y + 2}}
        text-align: center
        text-color: white
        text-size: 1-pad
        text-style: bold
    csgo-gsi-slot-{{slot}}-kda-kills:
      data: net/counter-strike/game-state/players/slot_{{slot}}/match_stats/kills
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color_dark
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        pos-h: 2
        pos-w: 2
        pos-x: {{side_data['x'] + 10}}
        pos-y: {{loop.index0 * 2 + start_y + 2}}
        text-align: center
        text-color: white
        text-size: _5-3
        text-style: bold
    csgo-gsi-slot-{{slot}}-kda-assists:
      data: net/counter-strike/game-state/players/slot_{{slot}}/match_stats/assists
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color
      style:
        bg: 80-black
        display: show
        skew: none
        pos-h: 2
        pos-w: 2
        pos-x: {{side_data['x'] + 12}}
        pos-y: {{loop.index0 * 2 + start_y + 2}}
        text-align: center
        text-color: white
        text-size: _5-3
        text-style: bold
    csgo-gsi-slot-{{slot}}-kda-deaths:
      data: net/counter-strike/game-state/players/slot_{{slot}}/match_stats/deaths
      custom-style: net/counter-strike/game-state/map/team_sides/team_{{side_name}}/color
      style:
        bg: 80-black
        display: show
        skew: none
        border-top-right-radius: 0
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-bottom-right-radius: {{ 1 if loop.last else 0 }}
        pos-h: 2
        pos-w: 2
        pos-x: {{side_data['x'] + 14}}
        pos-y: {{loop.index0 * 2 + start_y + 2}}
        text-align: center
        text-color: white
        text-size: _5-3
        text-style: bold
{% endfor %}
{% endfor %}
  layer:
    csgo-gsi-kda-label-left-layer:
      components: csgo-gsi-kda-label-left-deaths-icon,csgo-gsi-kda-label-left-assists-icon,csgo-gsi-kda-label-left-kills-icon,csgo-gsi-kda-label-left-deaths,csgo-gsi-kda-label-left-assists,csgo-gsi-kda-label-left-kills
      display: show
      aspect: 1x1-sm
    csgo-gsi-kda-label-right-layer:
      components: csgo-gsi-kda-label-right-deaths-icon,csgo-gsi-kda-label-right-assists-icon,csgo-gsi-kda-label-right-kills-icon,csgo-gsi-kda-label-right-deaths,csgo-gsi-kda-label-right-assists,csgo-gsi-kda-label-right-kills
      display: show
      aspect: 1x1-sm
{% for slot in range(0,10) %}
    csgo-gsi-slot-{{slot}}-kda-layer:
      components: csgo-gsi-slot-{{slot}}-kda-name,csgo-gsi-slot-{{slot}}-kda-deaths,csgo-gsi-slot-{{slot}}-kda-assists,csgo-gsi-slot-{{slot}}-kda-kills
      display: show
      aspect: 1x1-sm
{% endfor %}
    csgo-gsi-slot-all-kda-layer:
      components: {% for slot in range(0,10) %}csgo-gsi-slot-{{slot}}-kda-name,csgo-gsi-slot-{{slot}}-kda-deaths,csgo-gsi-slot-{{slot}}-kda-assists,csgo-gsi-slot-{{slot}}-kda-kills,{% endfor %}csgo-gsi-kda-label-left-deaths-icon,csgo-gsi-kda-label-left-assists-icon,csgo-gsi-kda-label-left-kills-icon,csgo-gsi-kda-label-left-deaths,csgo-gsi-kda-label-left-assists,csgo-gsi-kda-label-left-kills
      display: show
      aspect: 1x1-sm
