header:
  version: 14.0.0
init:
{% set start_x = 2 %}
{% set start_y = 4 %}
{% set stats_displayed = ['icon','isdead','level','summonerName','championName','cs','health-bar','health','kills','deaths','assists','kd-spacer','da-spacer','items_0','items_1','items_2','items_3','items_4','items_5','items_6','wardScore', 'gold', 'damage-bar', 'damage'] %}
{% set team_displayed = ['logo', 'name', 'score', 'health-label', 'cs-label', 'dragonbg', 'dragon0', 'dragon1', 'dragon2', 'dragon3', 'dragon4', 'gold', 'gold-icon', 'kills-icon', 'kills', 'towers-icon', 'towers', 'inhibitors-icon', 'inhibitors', 'barons-icon', 'barons', 'deaths', 'assists', 'kd-sep', 'da-sep', 'gold-label', 'damage-label'] %}

  component:
{% for team in range(0,2) %}
  {% set team_side = 'red' if team else 'blue' %}
    lolesports-live-t{{team}}-logo:
      data: com/lolesports/live/match/teams/{{team_side}}/image
      mode: image
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 0 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 2
        text-size: 1
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-score:
      data: com/lolesports/live/match/teams/{{team_side}}/score
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 2 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 2
        text-size: "1_5"
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-name:
      data: com/lolesports/live/match/teams/{{team_side}}/code
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 3 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 4
        pos-h: 2
        text-size: "1_5"
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-kills-icon:
      data: com/lolesports/text/kills_icon
      mode: svg
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 7 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-kills:
      data: com/lolesports/live/match/window/{{team_side}}Team/totalKills
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 8 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lolesports-live-t{{team}}-barons-icon:
      data: com/lolesports/text/barons_icon
      mode: svg
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 10 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-barons:
      data: com/lolesports/live/match/window/{{team_side}}Team/barons
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 11 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lolesports-live-t{{team}}-towers-icon:
      data: com/lolesports/text/towers_icon
      mode: svg
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 7 }}
        pos-y: {{ start_y + team * 13 - 1 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-towers:
      data: com/lolesports/live/match/window/{{team_side}}Team/towers
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 8 }}
        pos-y: {{ start_y + team * 13 - 1 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lolesports-live-t{{team}}-inhibitors-icon:
      data: com/lolesports/text/inhibitors_icon
      mode: svg
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 10 }}
        pos-y: {{ start_y + team * 13 - 1 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
        image-correction: off
    lolesports-live-t{{team}}-inhibitors:
      data: com/lolesports/live/match/window/{{team_side}}Team/inhibitors
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 11 }}
        pos-y: {{ start_y + team * 13 - 1 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lolesports-live-t{{team}}-health-label:
      data: com/lolesports/text/health-label
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 22 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 5
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lolesports-live-t{{team}}-gold:
      data: com/lolesports/live/match/window/{{team_side}}Team/totalGold
      mode: number-comma
      style:
        bg: darker-{{team_side}}
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 28 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 5
        pos-h: 1
        text-size: 1
        text-align: center
    lolesports-live-t{{team}}-gold-icon:
      data: com/lolesports/text/coins_icon
      mode: icon-font
      style:
        bg: 90-black
        text-color: dark-yellow
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 33 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
    lolesports-live-t{{team}}-gold-label:
      data: com/lolesports/text/gold-label
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 34 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 3
        pos-h: 1
        text-size: "_5"
        text-align: center
    lolesports-live-t{{team}}-damage-label:
      data: com/lolesports/text/damage-label
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 38 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 8
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lolesports-live-t{{team}}-dragonbg:
      custom-style: ""
      data: com/lolesports/blank
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 14 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 7
        pos-h: 1
        text-size: 1
        text-align: center
        image-correction: off
{% for dragon in range(0,5) %}
    lolesports-live-t{{team}}-dragon{{dragon}}:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/dragons/{{dragon}}
      mode: lol-dragon-icon
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 15 + dragon }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
        image-correction: off
{% endfor %}

{% for player in range(0,5) %}
    {% set slot = player + (team * 5) %}
    {% set player = slot % 5 %}
    lolesports-live-p{{slot}}-icon:
      custom-style: ""
      data: com/lolesports/live/match/meta/{{team_side}}TeamMetadata/participantMetadata/{{player}}/championId
      mode: lol-champion-id
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 1 }}
        pos-y: {{ start_y + team * 3 + slot * 2 }}
        pos-w: 2
        pos-h: 2
        text-size: 1
        text-align: center
        image-correction: off
    lolesports-live-p{{slot}}-level:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/level
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 0 }}
        pos-y: {{ start_y + team * 3 + slot * 2 }}
        pos-w: 1
        pos-h: 2
        text-size: "_2-3-pad"
        text-align: "center"
    lolesports-live-p{{slot}}-summonerName:
      data: com/lolesports/live/match/meta/{{team_side}}TeamMetadata/participantMetadata/{{player}}/summonerName
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 3 }}
        pos-y: {{ start_y + team * 3 + slot * 2 }}
        pos-w: 9
        pos-h: 1
        text-size: "1"
        text-align: "left"
    lolesports-live-p{{slot}}-championName:
      data: com/lolesports/live/match/meta/{{team_side}}TeamMetadata/participantMetadata/{{player}}/championId
      mode: lol-champion-id-name
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 3 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 1 }}
        pos-w: 9
        pos-h: 1
        text-size: "_2-3"
        text-align: "left"
    lolesports-live-p{{slot}}-cs:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/creepScore
      style:
        bg: 80-black
        text-color: yellow
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 12 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 1
        pos-h: 2
        text-size: "_2-3-pad"
        text-align: center
    lolesports-live-p{{slot}}-health-bar:
      custom-style: com/leagueoflegends/text/bar-graph-style
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/currentHealthPercent
      mode: {{ 'length-bar-1-red' if team else 'length-bar-1-blue' }}
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 22 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 5
        pos-h: 2
        text-size: "1"
        text-align: center
    lolesports-live-p{{slot}}-health:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/currentHealthPercent
      mode: postfix-percent-100-sign-round
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 22 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 5
        pos-h: 2
        text-size: "1-pad"
        text-align: right
    lolesports-live-p{{slot}}-kills:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/kills
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 28 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1_5"
        text-align: center
    lolesports-live-p{{slot}}-kd-spacer:
      data: com/lolesports/text/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 28 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 4
        pos-h: 2
        text-size: "1-pad"
        text-align: center
    lolesports-live-p{{slot}}-deaths:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/deaths
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 30 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1_5"
        text-align: center
    lolesports-live-p{{slot}}-da-spacer:
      data: com/lolesports/text/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 30 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 4
        pos-h: 2
        text-size: "1-pad"
        text-align: center
    lolesports-live-p{{slot}}-assists:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/assists
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 32 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1_5"
        text-align: center
{% for item in range(0, 7) %}
    lolesports-live-p{{slot}}-items_{{item}}:
      data: com/lolesports/live/match/frame/participants/{{slot}}/items/{{item}}
      mode: lol-item
      style:
        image-correction: off
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 14 + item }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 1
        pos-h: 2
        text-size: "_2-3"
        text-align: center
{% endfor %}
    lolesports-live-p{{slot}}-gold:
      custom-style: ""
      data: com/lolesports/live/match/window/{{team_side}}Team/participants/{{player}}/totalGold
      mode: number-comma
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 34 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 3
        pos-h: 2
        text-size: "1-pad"
        text-align: right
    lolesports-live-p{{slot}}-damage-bar:
      custom-style: com/leagueoflegends/text/bar-graph-style
      data: com/lolesports/live/match/frame/participants/{{slot}}/championDamageShare
      mode: {{ 'length-bar-1-red' if team else 'length-bar-1-blue' }}
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 40 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 6
        pos-h: 2
        text-size: "1"
        text-align: center
    lolesports-live-p{{slot}}-damage:
      custom-style: ""
      data: com/lolesports/live/match/frame/participants/{{slot}}/championDamageShare
      mode: postfix-percent-100-sign-round
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 38 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1-pad"
        text-align: right
{% endfor %}
{% endfor %}
  data:
    com/lolesports/text:
      kda-spacer: "/"
      cs-label: "CS"
      kills_icon: /static/gaming-icons/league-of-legends/svgs/kills.svg
      coins_icon: fas fa-coins
      towers_icon: /static/gaming-icons/league-of-legends/svgs/towers.svg
      inhibitors_icon: /static/gaming-icons/league-of-legends/svgs/inhibitors.svg
      barons_icon: /static/gaming-icons/league-of-legends/svgs/barons.svg
      health-label: "Health"
      gold-label: "Gold Earned"
      damage-label: "Team Damage Share"
      bar-graph-style: "padding-top: 0.5em; padding-bottom: 0.5em;"
      textborder: >
        text-shadow: 
          -0.075em 0.075em 0 #000,
          0.075em 0.075em 0 #000,
          0.075em -0.075em 0 #000,
          -0.075em -0.075em 0 #000;
  layer:
{% for slot in range(0,10) %}
    lolesports-live-p{{slot}}:
      components: {% for stat in stats_displayed %}lolesports-live-p{{slot}}-{{stat}},{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
{% for team in range(0,2) %}
    lolesports-live-t{{team}}:
      components: {% for stat in team_displayed %}lolesports-live-t{{team}}-{{stat}},{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
  overlay:
    lolesports-live:
      display: fade-in
      aspect: 16x9
      layers: {% for slot in range(0,10) %}lolesports-live-p{{slot}},{% endfor %}{% for team in range(0,2) %}lolesports-live-t{{team}},{% endfor %}
