header:
  version: 14.0.0
init:
{% set start_x = 2 %}
{% set start_y = 4 %}
{% set stats_displayed = ['icon','isdead','level','summonerName','championName','perk','summonerSpellOne','summonerSpellTwo','cs','kills','deaths','assists','kd-spacer','da-spacer','item0','item1','item2','item3','item4','item5','item6','wardScore', 'gold', 'damage-bar', 'damage'] %}
{% set team_displayed = ['logo', 'name', 'score', 'cs-label', 'gold', 'gold-icon', 'kills', 'deaths', 'assists', 'kd-sep', 'da-sep', 'gold-label', 'damage-label'] %}

  component:
{% for team in range(0,2) %}
  {% set team_side = 'away' if team else 'home' %}
    lol-postgame-t{{team}}-logo:
      data: edu/osu/org/osubgc/scoreboard/logo/{{team_side}}
      custom-style: edu/osu/org/osubgc/scoreboard/style/{{team_side}}-primary
      mode: image
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 0 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-name:
      data: edu/osu/org/osubgc/scoreboard/name-short/{{team_side}}
      custom-style: edu/osu/org/osubgc/scoreboard/style/{{team_side}}-primary
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 1 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 10
        pos-h: 1
        text-size: 1
        text-align: left
    lol-postgame-t{{team}}-score:
      data: edu/osu/org/osubgc/scoreboard/score/{{team_side}}
      custom-style: edu/osu/org/osubgc/scoreboard/style/{{team_side}}-secondary
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 11 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-cs-label:
      data: com/leagueoflegends/lol-postgame/cs-label
      style:
        bg: 90-black
        text-color: yellow
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 16 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 1
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-postgame-t{{team}}-gold:
      data: com/leagueoflegends/postgameextra/teams/{{team}}/gold
      mode: number-comma
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 17 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 5
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-gold-icon:
      data: com/leagueoflegends/text/coins_icon
      mode: icon-font
      style:
        bg: 90-black
        text-color: dark-yellow
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 22 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-kills:
      data: com/leagueoflegends/postgameextra/teams/{{team}}/kills
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 25 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-kd-sep:
      data: com/leagueoflegends/lol-postgame/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 26 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-postgame-t{{team}}-deaths:
      data: com/leagueoflegends/postgameextra/teams/{{team}}/deaths
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 27 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-da-sep:
      data: com/leagueoflegends/lol-postgame/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 28 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-postgame-t{{team}}-assists:
      data: com/leagueoflegends/postgameextra/teams/{{team}}/assists
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 29 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 2
        pos-h: 1
        text-size: 1
        text-align: center
    lol-postgame-t{{team}}-gold-label:
      data: com/leagueoflegends/lol-postgame/gold-label
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 32 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 3
        pos-h: 1
        text-size: "_5"
        text-align: center
    lol-postgame-t{{team}}-damage-label:
      data: com/leagueoflegends/lol-postgame/damage-label
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 36 }}
        pos-y: {{ start_y + team * 13 - 2 }}
        pos-w: 10
        pos-h: 1
        text-size: "1"
        text-align: center

{% for player in range(0,5) %}
    {% set slot = player + (team * 5) %}
    {% set player = slot % 5 %}
    lol-postgame-p{{slot}}-icon:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/championName
      mode: lol-champion
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 5 }}
        pos-y: {{ start_y + team * 3 + slot * 2 }}
        pos-w: 2
        pos-h: 2
        text-size: 1
        text-align: center
    lol-postgame-p{{slot}}-level:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/LEVEL
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 4 }}
        pos-y: {{ start_y + team * 3 + slot * 2 }}
        pos-w: 1
        pos-h: 2
        text-size: "_2-3-pad"
        text-align: "center"
    lol-postgame-p{{slot}}-summonerName:
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/summonerName
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 7 }}
        pos-y: {{ start_y + team * 3 + slot * 2 }}
        pos-w: 9
        pos-h: 1
        text-size: "1"
        text-align: "left"
    lol-postgame-p{{slot}}-championName:
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/championName
      mode: lol-champion-key-name
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 7 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 1 }}
        pos-w: 9
        pos-h: 1
        text-size: "_2-3"
        text-align: "left"
    lol-postgame-p{{slot}}-perk:
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/PERK0
      mode: lol-perk-key
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 0 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "_5-no-pad"
        text-align: left
    lol-postgame-p{{slot}}-summonerSpellOne:
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/spell1Id
      mode: lol-summoner-spell-key
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 2 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 1
        pos-h: 1
        text-size: "_5-no-pad"
        text-align: left
    lol-postgame-p{{slot}}-summonerSpellTwo:
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/spell2Id
      mode: lol-summoner-spell-key
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 2 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 1 }}
        pos-w: 1
        pos-h: 1
        text-size: "_5-no-pad"
        text-align: left
    lol-postgame-p{{slot}}-cs:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/cs
      style:
        bg: 80-black
        text-color: yellow
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 16 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 1
        pos-h: 2
        text-size: "_2-3-pad"
        text-align: center
    lol-postgame-p{{slot}}-kills:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/CHAMPIONS_KILLED
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 25 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1_5"
        text-align: center
    lol-postgame-p{{slot}}-kd-spacer:
      data: com/leagueoflegends/lol-postgame/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 25 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 4
        pos-h: 2
        text-size: "1-pad"
        text-align: center
    lol-postgame-p{{slot}}-deaths:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/NUM_DEATHS
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 27 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1_5"
        text-align: center
    lol-postgame-p{{slot}}-da-spacer:
      data: com/leagueoflegends/lol-postgame/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 27 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 4
        pos-h: 2
        text-size: "1-pad"
        text-align: center
    lol-postgame-p{{slot}}-assists:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/ASSISTS
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 29 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 2
        pos-h: 2
        text-size: "1_5"
        text-align: center
{% for item in range(0, 7) %}
    lol-postgame-p{{slot}}-item{{item}}:
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/items/{{item}}
      mode: lol-item
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 17 + item }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 1
        pos-h: 2
        text-size: "_2-3"
        text-align: center
{% endfor %}
    lol-postgame-p{{slot}}-gold:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/GOLD_EARNED
      mode: number-comma
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 32 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 3
        pos-h: 2
        text-size: "1-pad"
        text-align: right
    lol-postgame-p{{slot}}-damage-bar:
      custom-style: com/leagueoflegends/lol-postgame/bar-graph-style
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/TOTAL_DAMAGE_DEALT_TO_CHAMPIONS_percent
      mode: {{ 'length-bar-100-red' if team else 'length-bar-100-blue' }}
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 39 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 7
        pos-h: 2
        text-size: "1"
        text-align: center
    lol-postgame-p{{slot}}-damage:
      custom-style: ""
      data: com/leagueoflegends/postgame/teams/{{team}}/players/{{player}}/stats/TOTAL_DAMAGE_DEALT_TO_CHAMPIONS
      mode: number-comma
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + 36 }}
        pos-y: {{ start_y + team * 3 + slot * 2 + 0 }}
        pos-w: 3
        pos-h: 2
        text-size: "1-pad"
        text-align: right
{% endfor %}
{% endfor %}
  data:
    com/leagueoflegends/lol-postgame:
      kda-spacer: "/"
      cs-label: "CS"
      gold-label: "Gold Earned"
      damage-label: "Damage to Champions"
      bar-graph-style: "padding-top: 0.5em; padding-bottom: 0.5em;"
      textborder: >
        text-shadow: 
          -0.075em 0.075em 0 #000,
          0.075em 0.075em 0 #000,
          0.075em -0.075em 0 #000,
          -0.075em -0.075em 0 #000;
  layer:
{% for slot in range(0,10) %}
    lol-postgame-p{{slot}}:
      components: {% for stat in stats_displayed %}lol-postgame-p{{slot}}-{{stat}},{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
{% for team in range(0,2) %}
    lol-postgame-t{{team}}:
      components: {% for stat in team_displayed %}lol-postgame-t{{team}}-{{stat}},{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
  overlay:
    lol-postgame:
      display: fade-in
      aspect: 16x9
      layers: {% for slot in range(0,10) %}lol-postgame-p{{slot}},{% endfor %}{% for team in range(0,2) %}lol-postgame-t{{team}},{% endfor %}
