header:
  version: 14.0.0
init:
{% set start_x = 25 %}
{% set start_y = 17 %}
{% set stats_displayed = ['icon','isdead','level','summonerName','championName','summonerSpellOne','summonerSpellTwo','cs','kills','deaths','assists','kd-spacer','da-spacer','item0','item1','item2','item3','item4','item5','item6','wardScore'] %}

  component:
{% for slot in range(0,10) %}
  {% set row = (slot % 5) * 2 %}
  {% set mirror = -1 if (slot < 5) else 1 %}
  {% set mirror_offset = -1 if (slot < 5) else 0 %}
    lol-access-p{{slot}}-icon:
      custom-style: 
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/championName
      mode: lol-champion
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 0) + (mirror_offset * 2) }}
        pos-w: 2
        pos-y: {{ start_y + row }}
        pos-h: 2
        text-size: 1
        text-align: center
    lol-access-p{{slot}}-isdead:
      custom-style: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/dead-style-transparent
      data: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/dead-timer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 0) + (mirror_offset * 2) }}
        pos-w: 2
        pos-y: {{ start_y + row }}
        pos-h: 2
        text-size: "1_5"
        text-align: center
    lol-access-p{{slot}}-level:
      custom-style: com/leagueoflegends/lol-access/textborder
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/level
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 0) + (mirror_offset * 2) }}
        pos-w: 2
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3-pad-1_5"
        text-align: {{ "left" if (slot < 5) else "right" }}
    lol-access-p{{slot}}-summonerName:
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/summonerName
      style:
        bg: 80-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 3) + (mirror_offset * 6) }}
        pos-w: 6
        pos-y: {{ start_y + row }}
        pos-h: "_5"
        text-size: "_5-no-pad"
        text-align: {{ "right" if (slot < 5) else "left" }}
    lol-access-p{{slot}}-championName:
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/championName
      style:
        bg: 70-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 3) + (mirror_offset * 6) }}
        pos-w: 6
        pos-y: {{ start_y + row }}
        pos-h: "_5-bottom"
        text-size: "_5-no-pad"
        text-align: {{ "right" if (slot < 5) else "left" }}
    lol-access-p{{slot}}-summonerSpellOne:
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/summonerSpells/summonerSpellOne/rawDisplayName
      mode: lol-summoner-spell
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 2) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row }}
        pos-h: 1
        text-size: "_5-no-pad"
        text-align: left
    lol-access-p{{slot}}-summonerSpellTwo:
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/summonerSpells/summonerSpellTwo/rawDisplayName
      mode: lol-summoner-spell
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 2) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_5-no-pad"
        text-align: left
    lol-access-p{{slot}}-cs:
      custom-style: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/dead-style
      data: com/leagueoflegends/liveevents_extra/cs/{{slot}}
      mode: round-0
      style:
        bg: 90-black
        text-color: light-yellow
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 3) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-access-p{{slot}}-kills:
      custom-style: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/dead-style
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/scores/kills
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 4) + (mirror_offset * 3) }}
        pos-w: 1
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-access-p{{slot}}-kd-spacer:
      data: com/leagueoflegends/lol-access/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 4) + (mirror_offset * 3) }}
        pos-w: 2
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-access-p{{slot}}-deaths:
      custom-style: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/dead-style
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/scores/deaths
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 5) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-access-p{{slot}}-da-spacer:
      data: com/leagueoflegends/lol-access/kda-spacer
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 5) + (mirror_offset * 1) }}
        pos-w: 2
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-access-p{{slot}}-assists:
      custom-style: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/dead-style
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/scores/assists
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 6) + (mirror_offset * -1) }}
        pos-w: 1
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
{% for item in range(0, 6) %}
    lol-access-p{{slot}}-item{{item}}:
      data: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/items/{{item}}/itemID
      mode: lol-item
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * (7 + item)) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row + 1 }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
{% endfor %}
    lol-access-p{{slot}}-item6:
      data: com/leagueoflegends/liveclientdata_extra/players/{{slot}}/items/6/itemID
      mode: lol-item
      style:
        bg: 90-black
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 12) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row }}
        pos-h: 1
        text-size: "_2-3"
        text-align: center
    lol-access-p{{slot}}-wardScore:
      custom-style: com/leagueoflegends/lol-access/textborder
      data: com/leagueoflegends/liveclientdata/allPlayers/{{slot}}/scores/wardScore
      mode: round-0
      style:
        bg: clear
        text-color: white
        text-style: bold
        skew: none
        display: fade-in
        pos-x: {{ start_x + (mirror * 12) + (mirror_offset * 1) }}
        pos-w: 1
        pos-y: {{ start_y + row }}
        pos-h: 1
        text-size: "_2-3-pad-1_5"
        text-align: center
{% endfor %}
  data:
    com/leagueoflegends/lol-access:
      kda-spacer: "/"
      textborder: >
        text-shadow: 
          -0.075em 0.075em 0 #000,
          0.075em 0.075em 0 #000,
          0.075em -0.075em 0 #000,
          -0.075em -0.075em 0 #000;
  layer:
{% for slot in range(0,10) %}
    lol-access-p{{slot}}:
      components: {% for stat in stats_displayed %}lol-access-p{{slot}}-{{stat}},{% endfor %}
      display: fade-in
      aspect: 16x9
{% endfor %}
  overlay:
    lol-access:
      display: fade-in
      aspect: 16x9
      layers: {% for slot in range(0,10) %}lol-access-p{{slot}},{% endfor %}
