<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Alert Overlay - {{ alert_channel }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-graphic.jinja2" %}
    {% include "includes/html-header-graphic-css-defaults.jinja2" %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/alert_overlay.css', version=version) }}">
    
    <script src="{{ url_for('static', filename='js/alert_overlay.js', version=version) }}"></script>

    <script language="javascript">
        var alert_channel = "{{ alert_channel }}";
    </script>
</head>
<body>
<div id="alert_overlay" data-sg-aspect="16x9">

</div>
</body>
</html>
