<!DOCTYPE html>
<html lang="en">
<head>
    <title>enzanki_ars's Stream Graphics (v4) - Editor V2 - {{ editor_config['title'] }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

    <script src="{{ url_for('static', filename='js/list.js') }}"></script>
    <script src="{{ url_for('static', filename='js/display.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

{% if not disable_header %}
{% include "includes/navigation.jinja2" %}
{% endif %}

<div class="container">
    {% if not disable_header %}
    <h4>{{ editor_config['title']}}</h4>
    {% endif %}
    <form onsubmit="return false;">
        {% for section in editor_config['sections'] %}
            {% for row in section['rows'] %}
                <div class="row">
                    {% for column in row['columns'] %}
                        <div class="col col-sm-{{ column['size'] }}">
                            {% if column['type'] == 'label' %}
                                <label class="col-form-label">{{ column['text'] }}</label>
                            {% elif column['type'] == 'input-text' %}
                                <input type="text" class="form-control" placeholder=" "
                                    id="data-{{ column['data'] }}-input">
                            {% elif column['type'] == 'input-color' %}
                                <input type="color" class="form-control form-control-color" style="width: 100%;" placeholder=" "
                                    id="data-{{ column['data'] }}-input">
                            {% elif column['type'] == 'input-script' %}
                                <input class="form-control" type="text"
                                    id="{{ column['script'] }}-{{ column['parameter'] }}"
                                    data-script="{{ column['script'] }}" data-parameter="{{ column['parameter'] }}"
                                    value="{{ script_properties[column['script']]["run_parameters"].get(column['parameter'], script_properties[column['script']]["parameters"][column['parameter']]["default"]) }}">
                            {% elif column['type'] == 'restore' %}
                                <button type="button" class="btn btn-{{ column['style'] }}" onclick="restore_default('{{ column['name'] }}')">{{ column['text'] }}</button>
                            {% elif column['type'] == 'restore-script' %}
                                <button type="button" class="btn btn-{{ column['style'] }}" onclick="restore('{{ column['name'] }}', '{{ column['option'] }}')">{{ column['text'] }}</button>
                            {% elif column['type'] == 'restore-variable' %}
                                <input type="text" class="form-control" placeholder=" " value="{{ curr_config.get('restore_vars/' + column['name'] + '/' + column['variable_name'], '') }}"
                                        id="data-{{ column['name'] }}-{{ column['variable_name'] }}-input"
                                        data-restorename="{{ column['name'] }}"
                                        data-restorevar="{{ column['variable_name'] }}">
                            {% elif column['type'] == 'dropdown' %}
                                <select class="form-select" id="data-{{ column['data'] }}-input">
                                    <option value=""></option>
                                    {% for option in column['options'] %}
                                    <option value="{{option['value']}}">{{option['text']}}</option>
                                    {% endfor %}
                                </select>
                            {% elif column['type'] == 'input-upload' %}
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder=" "
                                        id="data-{{ column['data'] }}-input">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ column['data'] | replace('/','_') }}-upload-modal">
                                        <i class="fa-solid fa-upload"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ column['data'] | replace('/','_') }}-pick-modal">
                                        <i class="fa-solid fa-folder-open"></i>
                                    </button>
                                </div>
                                <div class="modal fade" id="{{ column['data'] | replace('/','_') }}-upload-modal" tabindex="-1" aria-labelledby="{{ column['data'] }}-upload-modal-label" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="{{ column['data'] }}-upload-modal-label">{{ column['data'] }} Upload</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="input-group ">
                                                    <input type="file" class="form-control" id="{{ column['data'] }}-file">
                                                    <button type="button" class="btn btn-primary" onclick="form_upload_file('{{ column['data'] }}')">Upload</button>
                                                </div>
                                                <hr/>
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%" id="{{ column['data'] }}-progress"></div>
                                                </div>
                                                <span id="{{ column['data'] }}-info"></span>
                                                <a id="{{ column['data'] }}-path" href="" target="_blank"></a>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="{{ column['data'] }}-save" disabled onclick="form_upload_file_save('{{ column['data'] }}')">Save</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="{{ column['data'] | replace('/','_') }}-pick-modal" tabindex="-1" aria-labelledby="{{ column['data'] }}-pick-modal-label" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="{{ column['data'] }}-pick-modal-label">{{ column['data'] }} Pick</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="{{ column['data'] }}-list">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="{{ column['data'] }}-pick" id="{{ column['data'] }}-blank" value="" checked>
                                                        <label class="form-check-label" for="{{ column['data'] }}-blank">
                                                            (NONE)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="{{ column['data'] }}-select" onclick="form_file_select('{{ column['data'] }}')">Select</button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <script>
                                    document.getElementById('{{ column['data'] | replace('/','_') }}-pick-modal')
                                        .addEventListener('shown.bs.modal', function (event) {
                                            form_file_list('{{ column['data'] }}');
                                        });
                                </script>
                            {% elif column['type'] == 'dropdown-lol-champion' %}
                                <select class="form-select" id="data-{{ column['data'] }}-input" data-sgtype="dropdown-lol-champion">
                                    <option value=""></option>
                                </select>
                            {% elif column['type'] == 'run-script' %}
                                <button type="button" class="btn btn-{{ column['style'] }}"
                                        onclick="run_script('{{ column['name'] }}')">
                                    {{ column['text'] }}
                                </button>
                            {% elif column['type'] == 'button' %}
                                <button type="button" class="btn btn-{{ column['style'] }}" onclick="run_editor_script('{{ column['script'] }}')">{{ column['text'] }}</button>
                            {% else %}
                                <input type="text" class="form-control" placeholder=" "
                                    id="data-{{ column['data'] }}-input">
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}

        <hr/>
        {% endfor %}
    </form>
</div>

<script language="javascript">
    var editor_config_data = {{ editor_config | tojson }};

    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            data.forEach(function (value, key) {
                let element = document.getElementById('data-' + key + '-input');
                if (element) {
                    element.value = value;
                }
            });
        });

        document.querySelectorAll('[data-sgtype="dropdown-lol-champion"]').forEach(elem => {
            for(var champ in lol_champ_data_corrected){
                var option = document.createElement("option");

                option.text = champ;
                option.value = champ;

                elem.add(option);
            }
        });
    };
</script>

</body>
</html>
