<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-bootstrap.jinja2" %}

</head>
<body>

{% include "includes/navigation.jinja2" %}

<div class="container">
    <h3>Login</h3>
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        <input
            type="hidden"
            name="next"
            value="{{ request.args.get('next', '') }}"
        />
        <div class="mb-3">
            {{ form.username.label(for='usernameInput', extra_classes='form-label') }}
            {{ form.username(id='usernameInput', extra_classes='form-control') }}
        </div>
        <div class="mb-3">
            {{ form.password.label(for='passwordInput', extra_classes='form-label') }}
            {{ form.password(id='passwordInput', extra_classes='form-control') }}
        </div>
        <button type="submit" class="btn btn-primary" value="Go">Login</button>
    </form>
</div>

</body>
</html>
