<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - overlay - {{ overlay_name }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-graphic.jinja2" %}
    {% include "includes/html-header-graphic-css-defaults.jinja2" %}

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css', version=version) }}">

    <script src="https://cdn.jsdelivr.net/gh/btmills/geopattern@v1.2.3/js/geopattern.min.js"></script>

    <script src="{{ url_for('static', filename='js/display.js', version=version) }}"></script>

    <style>
        @keyframes animatedBackground {
            from {
                background-position: 100vw 0vh;
            }

            to {
                background-position: 0vw 100vh;
            }
        }

        body {
            background: #{{color}};
            background-repeat: round;
            animation: animatedBackground 120s linear infinite;
        }
    </style>
</head>
<body>
{% for overlay_name in overlay_list %}
<div id="overlay/{{ overlay_name }}" class="overlay"></div>
{% endfor %}

<script language="javascript">
    
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
{% for overlay_name in overlay_list %}
            overlay_init("{{ overlay_name }}");
{% endfor %}
        });
    };
</script>
</body>
</html>
