<!DOCTYPE html>
<html>
<head>
    <title>enzanki_ars's Stream Graphics (v4) - overlay - {{ overlay_name }}</title>

    {% include "includes/html-header-all.jinja2" %}
    {% include "includes/html-header-graphic.jinja2" %}
    {% include "includes/html-header-graphic-css-defaults.jinja2" %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/grid.css', version=version) }}">

    <script src="{{ url_for('static', filename='js/display.js', version=version) }}"></script>
</head>
<body>
<div id="overlay/{{ overlay_name }}" class="overlay"></div>

<script language="javascript">
    
    window.onload = function (e) {
        if (window.console) console.log("Ready to go!");
        get_all_data(function () {
            overlay_init("{{ overlay_name }}");
        });
    };
</script>
</body>
</html>
